{% embed '@components/sections/section.twig' with {
    intro_class: 'text-center ' ~ (section_style | default == 'side' ? 'lg:text-left' : ''),
    section_class: section_class | default,
    section_heading: section_heading | default,
    section_description:  section_description | default,
    section_button: section_button | default,
  }
%}
  {% block section_content %}

    <div class="grid grid-cols-12 gap-6">
      {% for statistic in statistics %}
        <div class=" md:col-span-4 {% if section_style | default == 'side' %}lg:col-span-12{% endif %}">
          {% include '@components/informational/statistic/statistic.twig' with {
            text: statistic.text,
            value: statistic.value,
            link: statistic.link
          }%}
        </div>
      {% endfor %}
    </div>

  {% endblock %}
{% endembed %}
