<div class="slick-wrap">
  <div class="js-slick{{ (modifier | default) ? '--'~modifier : ''}} {% if grid | default %}grid-x grid-margin-x{% endif %}" {% if equalize | default %}data-equalizer data-equalize-on="medium"{% endif %}>
    {% block slide_content %}
    {% endblock %}
  </div>
  <div class="slick-nav">
    {% if pausable | default %}
     <button class="js-slick-toggle slick-toggle">
      <span class="show-for-sr">Toggle Pause/Play</span>
      <span class="icon-pause active"></span>
      <span class="icon-play inactive"></span>
    </button>
    {% endif %}
  </div>
</div>
