<div class="statistic text-center px-3">
  {% include '@components/inline-text/large-value/large-value.twig' with {
    value: value
  } %}
  <p class="text-lg lg:text-2xl mb-0">
    {{ text }}

  </p>
</div>
