{% embed '@components/containers/splide/splide.twig' with {
    splide_class: 'splide-slider--equalize'
  } %}
	{% block slide_content %}
		{% for card in cards %}
			<div class="splide__slide">
				{% set card = card | merge({
            lazyload_attr: 'data-splide-lazy',
            class: 'w-full',
          }) %}

				{% include '@components/teasers/card/card-testimonial.twig' with card only %}

			</div>
		{% endfor %}
	{% endblock %}
{% endembed %}
