<section class="section">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell medium-10 large-8">
        {% block section_content %}
          {{ wysiwyg }}
        {% endblock %}
      </div>
    </div>
  </div>
</section>
