<span class="inline-flex gap-1 leading-4">
  <span class="icon-email icon icon--tiny"></span>
  Text with icon, vertically align top
</span>
<br />
<span class="inline-flex gap-1 items-center leading-4">
  <span class="icon-email icon  icon--tiny"></span>
  Text with icon, vertically align middle (uses items-center)
</span>
<br />
<h2 class="inline-flex gap-1 items-center leading-4">
  <span class="icon-email icon"></span>
  Heading with icon
</h2>
