<h1 class="inline-flex gap-1">
  <span class="icon-book icon  icon--tiny"></span>
  Text with icon, vertically align top
</span>
<br />
<h1 class="inline-flex gap-1 items-center">
  <span class="icon-book icon  icon--tiny"></span>
  Text with icon, vertically align middle (uses items-center)
</span>
<br />
<h2 class="inline-flex gap-1 items-center leading-4">
  <span class="icon-book icon"></span>
  Heading with icon
</h2>
