{% embed '@components/sections/section.twig' with {    
  section_class: section_class | default,
  section_style: "narrow"
} %}
  {% block section_content %}
    <div class="flex flex-col gap-5">
      {% for card in cards %}
        {% include '@components/teasers/card/card-horizontal.twig' with card %}
      {% endfor %}    
    </div>
  {% endblock %}
{% endembed %}
