{% if card.section_title %}
    {%
      include '@components/heading/heading.twig' with {
        "title": card.section_title,
        "heading_level": 2,
        "classes": "card-list__title"
    } only
  %}
{% endif %}

<ul class="card-list {{modifier_class}}{{ card.classes|default('') }}">
  {% for item in card.items %}
    <li class="card-list__item">
      {%
        include '@components/card/card.twig' with {
          "card": item,
          "classes": ""
        } only
      %}
    </li>
  {% endfor %}
</ul>

<div style="margin-bottom: 6rem"></div>

{% if card_wide.section_title %}
    {%
      include '@components/heading/heading.twig' with {
        "title": card_wide.section_title,
        "heading_level": 2,
        "classes": "card-list__title"
    } only
  %}
{% endif %}

<ul class="card-list {{modifier_class}}{{ card_wide.classes|default('') }}">
  {% for item in card_wide.items %}
    <li class="card-list__item">
      {%
        include '@components/card/card.twig' with {
          "card": item,
          "classes": "card--wide"
        } only
      %}
    </li>
  {% endfor %}
</ul>
