<div class="video_wrapper" data-video-trigger="background" data-video-type="{{ video_type }}" style="height: 800px;">
  <div class="video_loader">
    {% include '@components/utils/loader/loader.twig' %}
  </div>
  <div class="video_container">
    <div class="video_player" data-video-id="{{ video_id }}"></div>
  </div>
</div>
