<header class="l-footer text-white">
  <div class="grid-container">
    <ul class="menu medium-horizontal">
      {% for item in menu %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-3">

        {% include 'components/icons-logos/logo.twig' %}

      </div>
      <div class="cell medium-9 medium-text-right">
        {% include 'components/icons-logos/social-media.twig' %}
      </div>
    </div>
    <div class="text-center">
      <ul class="inline-list inline-list--divided">
        <li>
          <a href="">Terms of Use</a>
        </li>
        <li>
          <a href="">Privacy Policy</a>
        </li>
      </ul>
      <p>Copyright &copy; 2021 Mighty Citizen</p>
    </div>
  </div>
</header>
