
@import "vendor/icomoon/variables";
h1{
  letter-spacing: -0.5px;
}

h5{
  text-transform: uppercase;
  letter-spacing: 1px;
}


ul, ol{
  &:not([class]), &.unstyled-list{
    //margin-bottom: rem-calc(30);
    li:not(:last-child){
      margin-bottom: rem-calc(10);
    }
    // custom styled lists
    // &:not(foo){
    //   list-style-type: none;
    //   counter-reset: list;
    //   li{
    //     position: relative;
    //     &:before{
    //       counter-increment: list;
    //       content: counter(list)  ".";
    //       position: absolute;
    //       right: 100%;
    //       margin-right: rem-calc(10);
    //       color: $primary-color;
    //       display: inline-block;
    //     }
    //   }
    // }
  }
}
// ul{
//     &:not([class]){
//     &:not(foo){
//       li{
//         &:before{
//           content: '';
//           background-color: $primary-color;
//           width: rem-calc(5);
//           height: rem-calc(5);
//           top: rem-calc(11);
//           border-radius: 100%;

//         }
//       }
//     }
//   }
// }


blockquote{
  //border-left: 8px solid $primary-color;
  position: relative;
  //padding-left: rem-calc(27);
  line-height: $lead-lineheight;
  @include font-scale-mobile($lead-font-size, 20, true);
  p{
    margin-bottom: rem-calc(15);
  }
  &:before{
    //font-family: $icomoon-font-family;
    content: $unicode-quote-left;
    position: absolute;
    left: rem-calc(18);
    top: rem-calc(2);
    //color: $primary-color;
    font-size: rem-calc(20);
  }

  cite{
    position: relative;
    padding-left: rem-calc(12);
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    &:before{
      position: absolute;
      left: rem-calc(-3);
      content: '\002D';
      //margin-right: rem-calc(5);
    }
  }
}



h2, h3, h4{
  a{
    text-decoration: underline;
    &:hover, &:focus{
      text-decoration: none;
    }
  }
}



img{
  &:not([src]){
    opacity: 0;
    //transition: 0.3s opacity;
    min-height: rem-calc(150);
  }
}

table{
  line-height: 1.2;
  th{
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
  }
  tbody{
    font-size: rem-calc(16);
  }
  @include breakpoint(small only){
    td, th{
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(7);
    }
  }
}


figure{
  margin-bottom: $paragraph-margin-bottom;
  figcaption{
    //font-size: rem-calc(16);
    font-weight: $global-weight-bold;
    margin-top: rem-calc(12);
    line-height: 1.625;
    display: block;
    font-size: rem-calc(16);
    @include breakpoint(large){
      margin-top: rem-calc(8);

    }
  }
  &.img--center{
    margin: rem-calc(16) auto;
    display: block;
  }
  &.img--left, .img--right{
    max-width: 40%;
    margin-bottom: rem-calc(16);
  }
  &.img--left{
    float: left;
    margin-right: rem-calc(16);


  }
  &.img--right{
    float: right;
    margin-left: rem-calc(16);
  }
}


address{
  font-style: normal;
}
