
@import 'variables/plugins';
@import "./vendor/icomoon/variables";

.form-input{
  width: rem-calc(300);
}

$field-wrapper-class: '.fui-field-container';
$input-error-class: '.fui-error';
$error-message-class: '.fui-error-message';

@if ($cms == 'Craft') {

  /* FORMIE STYLING */

  .fui-required{
    color: $alert-color;
  }

  .fui-alert{
    @include spacer(padding,all,2);
    @include spacer(margin,bottom,3);
    font-weight: bold;
    &-error{
      background-color: rgba($alert-color,0.5);
    }
    &-success{
      background-color: rgba($success-color,0.5);
    }
  }

  .fui-row{
    .fui-field{
      &:not(:first-child){
        @include spacer(margin,left,2);
      }
      &:not(:last-child){
        @include spacer(margin,right,2);
      }
    }
  }

  .fui-error{
    &, &:focus{
      border-color: $input-error-color;
    }
  }

  .fui-error-message{
    color: $input-error-color;
    font-size: $input-error-font-size;
    font-weight: $input-error-font-weight;
    @include spacer(margin,top,0.5);
  }

  .fui-instructions{
    color: $helptext-color;
    font-size: $helptext-font-size;
    font-style: $helptext-font-style;

    .fui-instructions-above-input &{
      @include spacer(margin,bottom,2);
    }
    .fui-instructions-below-input &{
      @include spacer(margin,top,1);
    }
    *:last-child{
      margin-bottom: 0;
    }
  }
}



.form-input, #{$field-wrapper-class}{
  @include spacer(margin,bottom,3);
  select, [type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea{
    margin-bottom: 0;
  }
}

// CUSTOM FORM STYLES //

input[type="checkbox"],
input[type="radio"]{
  &.custom, &.fui-input{
    &:not(foo) {
      opacity: 0;
      position: absolute;

      +label {
        margin-left: 0;
        font-weight: normal;
        padding-left: rem-calc(28);
        position: relative;

        &:before,
        &:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
        }

        &:before {
          border: 2px solid $primary-color;
          height: rem-calc(16);
          width: rem-calc(16);
          top: rem-calc(8);
          background-color: $white;
        }

        &:hover,
        &:focus {
          cursor: pointer;
          text-decoration: underline;

          &:before {
            border-color: $primary-color;
          }
        }
      }


      &:checked{
        + label{
          &:after{
            opacity: 1;
          }
        }
      }

    }
  }
}

input[type="checkbox"] {
  &.custom, &.fui-input{
    &:not(foo) {
      +label {

        &:after {
          left: rem-calc(2);
          top: rem-calc(6);
          color: $white;
          font-weight: normal;
          opacity: 0;
          content: $icon-check;
          font-family: $icomoon-font-family;
          font-size: rem-calc(12);

        }
      }

      &:checked {
        +label {

          &:before {
            background-color: $primary-color;
            border-color: $primary-color;
          }


        }
      }

    }
  }
}

input[type="radio"] {
  &.custom, &.fui-input{
    &:not(foo) {
      +label {
        &:after {
          opacity: 0;
          background-color: $primary-color;
          height: rem-calc(8);
          width: rem-calc(8);
          top: rem-calc(12);
          left: rem-calc(4);
        }

        &:before, &:after {
          border-radius: 100%;
        }

      }

    }
  }
}

input[type="radio"], input[type="checkbox"]{
  &.custom, &.fui-input{
    &:not(foo){
      &:focus:not(:checked){
        + label{
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}

.radio-button {
  display: inline-block;

  &:not(foo) {
    input[type="radio"] {
      opacity: 0;
      position: absolute;
      width: 0;

      +label {
        width: 100%;
        margin: 0;
      }

      &:checked {

        +label {
          background-color: $secondary-color !important;
          color: $white;
        }
      }
    }
  }
}

.form-required{
  color: $alert-color;
}

.input-group{
  &.simple{
    .loader{
      div{
        border-top-color: $primary-color;
        border-width: 4px;
      }
      position: absolute;
      width: rem-calc(20);
      height: rem-calc(20);
      top: 50%;
      right: rem-calc(15);
      transform: translateY(-50%);
    }
    input.input-group-field{
      border-right: 0;
      //padding: rem-calc()
      &::placeholder {
        color: $medium-gray;
        //font-family: 'Nunito Sans';
        font-size: rem-calc(14);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: $global-weight-bold;
      }
    }
    input.input-group-field{
      height: rem-calc(50);
      padding-top: rem-calc(11);
      padding-bottom: rem-calc(12);
    }
    input.input-group-field:focus, .input-wrapper:focus-within{
      + .input-group-button{
        border: $input-border-focus;
        border-left: 0;
      }
    }
    .input-group-button{
      position: relative;
      border: $input-border;
      border-left: 0;
      padding: rem-calc(0 2*$spacer);
      background-color: $white;
      color: $primary-color;
      transition: $input-transition;
      button{
        color: inherit;
        &.is-loading{
          color: transparent;
         }
      }

    }
  }
}



@if ($datepicker){
  input.js-date{
    padding-right: rem-calc(0);
    background-image: url('../images/calendar.png');
    background-size: rem-calc(15);
    background-position: calc(100% - #{rem-calc(10)}) center;
    background-repeat: no-repeat;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      width: rem-calc(25);
      -webkit-appearance: none;
      margin-left: 0;
    }

  }
}
textarea{
  min-height: rem-calc(100);
}


select{
  // generated by https://websemantics.uk/tools/svg-to-background-image-conversion/ from icon-chevron-down.svg
  //background-image: url("data:image/svg+xml;charset=utf8,%3C!-- Generated by IcoMoon.io --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='448' height='448' viewBox='0 0 448 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%23000' d='M420.75 202l-185.5 185.25c-6.25 6.25-16.25 6.25-22.5 0l-185.5-185.25c-6.25-6.25-6.25-16.5 0-22.75l41.5-41.25c6.25-6.25 16.25-6.25 22.5 0l132.75 132.75 132.75-132.75c6.25-6.25 16.25-6.25 22.5 0l41.5 41.25c6.25 6.25 6.25 16.5 0 22.75z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 9px;
  background-position: right rem-calc(-10) center;
}

// label, legend{
//   margin-bottom: rem-calc();
// }

legend{
  color: $form-label-color;
  font-size: $form-label-font-size;
  font-weight: $form-label-font-weight;
  line-height: $form-label-line-height;
}
.input{
  &-wrapper{
    position: relative;
  }
  &-clear{
    @include vertical-center;
    right: rem-calc(0);
    font-size: rem-calc(10);
    opacity: 0;
    padding: rem-calc(10 5);
    cursor: pointer;
    pointer-events: none;
    .is-active + & {
      opacity: 1;
      pointer-events: all;
    }
  }
}


// buttons
button{
  &[type="submit"]:not(.is-loading){
    cursor: pointer;
  }
}

.button[disabled]{
  &, &:hover, &:focus{
    background-color: $light-gray;
    color: $medium-gray;
    opacity: 1;
  }
}

// errors
.is-invalid-input, #{$input-error-class}{
  &:not(:focus){
    color: $body-font-color;
    background-color: $white;
  }
}

.form-error, #{$error-message-class}{
  background-color: map-get($additional-palette,'tertiary-lightest');
  color: $body-font-color;
  padding: rem-calc(8 10);
  margin-top: 0;
}

// form group
.form-group{
  .form-input, .button[type="submit"]{
    margin-bottom: 0;
    width: 100%;
  }
  .button[type="submit"]{
    height: ($input-font-size * unitless-calc($input-line-height)) + (get-side($input-padding, 'top') + get-side($input-padding, 'bottom'));
    @include breakpoint(small only){
      @include spacer(margin,top,2);
    }
  }
}
