.has-icon{
  display: inline-flex;
  .icon{
    vertical-align: middle;
    margin-right: rem-calc(7);
    flex: none;
  }
  &:not(.align-middle){
    align-items: flex-start;
    justify-content: flex-start;
    .icon{
      margin-top: rem-calc(2);
    }
  }
}

.icon{
  &--tiny{
    font-size: rem-calc(10);
  }
  &--small{
    font-size: rem-calc(14);
  }
  &--medium{
    font-size: rem-calc(20);
  }
  &--large{
    font-size: rem-calc(26);
  }
  &--circle{
    background-color: $primary-color;
    width: rem-calc(30);
    height: rem-calc(30);
    color: $white;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover, &:focus{
      color: $white;
      background-color: $secondary-color;
    }

    .text-white & {
      background-color: $white;
      [class*=icon-]{
        color: $primary-color;
      }
      &:hover, &:focus{
        background-color: $secondary-color;
      }
    }

    [class*=icon-]{
      position: absolute;
    }
    .icon-facebook{
      font-size: 1.3em;
      position: absolute;
      //margin-top: rem-calc(-8%);
      margin-bottom: rem-calc(-8.25%);
      margin-right: rem-calc(-2%);
    }
  }
}
