
.icon{
  &:not([class*="icon--"]) {
    font-size: rem-calc($spacer*4);
  }
  &--tiny{
    font-size: rem-calc($spacer*2);
  }
  &--small{
    font-size: rem-calc($spacer*3);
  }
  &--medium{
    font-size: rem-calc($spacer*5);
  }
  &--large{
    font-size: rem-calc($spacer*6);
  }
  &--circle{
   @include icon-circle();
  }
}

.arrow {
  &:not(foo){
    border-radius: 50%;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    font-size: 0;
    line-height: 0;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    background-color: $primary-color;
    @include size(40);
    text-align: center;
    &:hover{
      background-color: map-get($additional-palette,'primary-darker');
    }

    &:before {
      margin: 0;
      line-height: 1;
      font-family: $icomoon-font-family;
      font-size: rem-calc(16);
      font-weight: normal;
    }
    &:after{
      display: none;
    }
    // &--prev{
    //   padding-right: 5%;
    // }
    // &--next{
    //   padding-left: 5%;
    // }
  }







  &--prev:not(foo) {
    margin-right: rem-calc(17);
    &:before {
      content: $icon-chevron-left;
    }
  }

  &--next:not(foo) {
    margin-left: rem-calc(17);
    &:before {
      content: $icon-chevron-right;
    }
  }


}
