
/**
* @tokens Global
* @presenter Spacing
*/
:root{
  --spacer-mobile: 5px;
  --spacer: 8px;

  --global-font-size: 16px;
  --global-line-height: 1.5;

  --global-width: 1366px;
}


/**
  * @tokens-end
  */
