$theme-mediumBreakpoint: 640;
$theme-largeBreakpoint: 1024;
$theme-xlargeBreakpoint: 1200;
$theme-xxlargeBreakpoint: 1440;

$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-tertiary-default: #d82626;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-tertiary-default: #d82626;
$theme-tertiary-variants-darker: #b42727;
$theme-tertiary-variants-lighter: #e87d7d;
$theme-tertiary-variants-lightest: #f3bdbd;
$theme-success: #73af8c;
$theme-alert: #d5383c;
$theme-warning: #EEA600;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-tertiary-default: #d82626;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-tertiary-default: #d82626;
$theme-tertiary-variants-darker: #b42727;
$theme-tertiary-variants-lighter: #e87d7d;
$theme-tertiary-variants-lightest: #f3bdbd;
$theme-success: #73af8c;
$theme-alert: #d5383c;
$theme-warning: #EEA600;
$theme-gray-default: #666;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-tertiary-default: #d82626;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-primary-default: #2953cc;
$theme-primary-default: #2953cc;
$theme-primary-variants-darker: #1f3e99;
$theme-primary-variants-lighter: #6986db;
$theme-primary-variants-lightest: #bdcaef;
$theme-secondary-default: #ffcd00;
$theme-secondary-variants-darker: #eca806;
$theme-secondary-variants-lighter: #ffe57f;
$theme-secondary-variants-lightest: #ffefb2;
$theme-tertiary-default: #d82626;
$theme-tertiary-variants-darker: #b42727;
$theme-tertiary-variants-lighter: #e87d7d;
$theme-tertiary-variants-lightest: #f3bdbd;
$theme-success: #73af8c;
$theme-alert: #d5383c;
$theme-warning: #EEA600;
$theme-gray-default: #666;
$theme-gray-variants-lighter: #ccc;
$theme-gray-variants-lightest: #eee;
$theme-gray-variants-darker: #333;
$theme-black: #333;
$theme-white: #fff;

$theme-primaryFontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
$theme-secondaryFontFamily: "Roboto", "Helvetica", "Arial", sans-serif;

$theme-selectize: false;
$theme-ajaxify: false;
$theme-litepicker: true;
$theme-slider: true;
