/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

/**
 * By default we want to add padding so the style guide is more
 * readable. This can be overridden in each patterns data file.
 */
 .pl, .pl-c-main {
  padding: 0 !important;
}

.no-padding {
  padding: 0;
}

/* .pl-c-pattern__header, .pl-c-category, .pl-c-pattern__title{
  padding: 0 30px;
} */

#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 8px;
}

.pl-swatch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5px;
  width: 90px;
  height: 90px;
  border-radius: 3px;
  text-transform: uppercase;
  vertical-align: top;
  border: 1px solid #ececec;
  color: #fff;

}

.pl-swatch--light{
  color: #000;
}

.pl-swatch__hex {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 7px;
  background-color: rgba(255,255,255, 0.7);
  color: #000;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
}


@media screen and (min-width: 600px){
  .pl-swatch {
    width: 180px;
    height: 180px;
  }
}

/* Increases size of pattern category and pattern name */
.pl-c-category__title a {
  font-size: 32px !important;
}

.pl-c-pattern__title a {
  font-size: 24px !important;
}

.pl-c-pattern-index{
  padding: 0 20px;
}

.pl-icons__item {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  min-width: 100px;
  border-radius: 3px;
  vertical-align: top;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.pl-icons .icon {
  vertical-align: middle;
  margin: 20px auto;
  fill: #222222;
  height: 50px;
  width: auto;
  max-width: 100%;
}

.pl-icons__name {
  margin: 0;
  font-size: small;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.25);
}

/*
.card:not(.card--horizontal){
  max-width: 500px;
} */

.pl-placeholder{
  padding: 30px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #ececec;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

  .pl-placeholder:before{
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8px;
    background-color: #ccc;
    color: #333;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    content: 'Storybook demo purposes only';
  }

  .pl-image{
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 24px;
    display: inline-block;
    line-height: 1.1;
  }

  .text-white .logo{
    color: white;
  }


  @media screen and (min-width: 600px){
    .logo{
      font-size: 32px;
    }
  }

  .docblock-argstable-head th{
    color: inherit !important;
  }