{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{% if (content.field_title) %}
  {%
    include '@rain_theme/heading/heading.twig' with {
      "heading": {
        "title": content.field_title,
        "heading_level": "2",
        "modifier": "heading--section",
      },
      "attributes": title_attributes.addClass("container"),
    } only
  %}
{% endif %}  
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content|without('field_title') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
