{{ attach_library('rain_theme/latest-news') }}
<section class="latest-news{{ attributes ? ' ' ~ attributes.class}}">
  <div class="latest-news__list">
    {% block card_items %}
      <div class="latest-news__items">
        {% for item in items %}
          <div class="latest-news__card">
            {%
              include '@rain_theme/card/card.twig' with {
                card: item.card,
              } only
            %}
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
</section>
