<ul class="list-unstyled d-flex gap-4 mb-0 social-media">
  {% for item in social | default %}
      <li>
        <a href="{{ item.url }}" target="_blank" class="icon icon--circle">
          <span class="show-for-sr">{{ item.handle }}</span>
          <span class="icon-{{ item.handle }}"></span>
        </a>
      </li>
  {% endfor %}
  </ul>
