@use 'sass:math';
@import '../variables/image-sizes.scss';

// .no-shadow{
//   box-shadow: none;
// }

// .shadow{
//   box-shadow: $global-box-shadow;
// }

.show-for-sr{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

}

.flip{
  transform: scaleX(-1);
}



// .overflow{
//   &-hidden{
//     overflow: hidden;
//   }
// }


// .display{
//   &-flex{
//     display: flex;
//   }
//   &-inlineBlock{
//     display: inline-block;
//   }
// }


// .media-object{
//   @include breakpoint(small only){
//     &--stack{
//       display: block;
//       img{
//         max-width: 100%;
//       }
//       .media-object-section:first-child{
//         padding-right: 0;
//         margin-bottom: $spacer-mobile*3;
//       }
//     }
//   }
// }


@each $size, $values in $image_sizes {
  .image-size--#{$size}{
    aspect-ratio: math.div(map-get($values, 'width'), map-get($values, 'height'));
  }
}


