
@use 'sass:math';

@mixin vertical-center(){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


@mixin dropdown(){
  $arrow-size-horizontal: 40;
  $arrow-size-vertical: 24;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='#{$arrow-size-horizontal}' height='#{$arrow-size-vertical}' viewBox='0 0 #{$arrow-size-horizontal} #{$arrow-size-vertical}'><polygon points='0,0 #{$arrow-size-horizontal},0 #{math.div($arrow-size-horizontal,2)},#{$arrow-size-vertical}' style='fill: rgb%2851, 51, 51%29'></polygon></svg>");
  background-size: 9px;
  background-position: right rem-calc(-17) center;
  @include spacer(padding,right,4,4);
}



@mixin horizontal-center(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin stretch(){
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

@mixin align-center(){
    display: flex;
    align-items: center;
}

@mixin center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;

  $width: nth($size, 1);
  $height: nth($size, length($size));

  $width: math.div($width,2);
  $height: if(length($size) > 1, $height, $height/2);

  @if $direction == up {
      border-bottom: $height solid $color;
      border-left: $width solid transparent;
      border-right: $width solid transparent;

  } @else if $direction == right {
      border-left: $height solid $color;
      border-bottom: $width solid transparent;
      border-top: $width solid transparent;

  } @else if $direction == down {
      border-top: $height solid $color;
      border-left: $width solid transparent;
      border-right: $width solid transparent;

  } @else if $direction == left {
      border-right: $height solid $color;
      border-bottom: $width solid transparent;
      border-top: $width solid transparent;
  }
}

@mixin size($size){
    width: rem-calc($size);
    height: rem-calc($size);
}


@mixin spacer($prop,$direction,$size,$mobile-override: false, $important: null){
    //#{$prop}: $size !important;
    $mobile-spacer: $size*$spacer-mobile;
    @if ($mobile-override){
      $mobile-spacer: $mobile-override * $spacer;
    }
    $desktop-spacer: $size*$spacer;
    @if (index((left, right, top, bottom),$direction)) {
      #{$prop}-#{$direction}: rem-calc($mobile-spacer)   $important;
      @include breakpoint(medium) {
        #{$prop}-#{$direction}: rem-calc($desktop-spacer)   $important;
      }
    }@else if (index((y,x),$direction)) {
      @if ($direction == x){
        #{$prop}-left: rem-calc($mobile-spacer)   $important;
        #{$prop}-right: rem-calc($mobile-spacer)   $important;
        @include breakpoint(medium) {
          #{$prop}-left: rem-calc($desktop-spacer)   $important;
          #{$prop}-right: rem-calc($desktop-spacer)   $important;
        }
      }@else{
        #{$prop}-top: rem-calc($mobile-spacer)   $important;
        #{$prop}-bottom: rem-calc($mobile-spacer)   $important;
        @include breakpoint(medium) {
          #{$prop}-top: rem-calc($desktop-spacer)   $important;
          #{$prop}-bottom: rem-calc($desktop-spacer)   $important;
        }
      }
    }@else{
      #{$prop}: rem-calc($mobile-spacer)   $important;
      @include breakpoint(large) {
        #{$prop}: rem-calc($desktop-spacer)   $important;
      }
    }

  }

  @mixin font-scale-mobile($font-size,$min: 0,$output-desktop: false){
    @if ($output-desktop) {
      font-size: rem-calc($font-size);
    }
    @include breakpoint(small only){
      $font-size-mobile: $font-size*$font-scale-mobile;
      @if ($min > $font-size-mobile){
        $font-size-mobile: $min;
      }
      font-size: rem-calc($font-size-mobile);
    }
  }

  .has-icon{
    display: inline-flex;
    .icon{
      vertical-align: middle;
      margin-right: rem-calc(7);
      flex: none;
    }
    &:not(.align-middle){
      align-items: flex-start;
      justify-content: flex-start;
      .icon{
        margin-top: rem-calc(2);
      }
    }
  }

  @mixin icon-circle(){
    background-color: $primary-color !important;
    width: rem-calc(30) !important;
    height: rem-calc(30) !important;
    color: $white;
    border-radius: 100% !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: rem-calc(3) !important;
    &:hover, &:focus{
      color: $white;
      background-color: $secondary-color;
    }

    svg{
      g, path{
        fill: $white;
      }
    }


    .color-white & {
      background-color: $white !important;
      mix-blend-mode: lighten;
      svg{
        g, path{
          fill: black;
        }
      }
      [class*=icon-]{
        color: black;
      }
      &:hover, &:focus{
        background-color: map-get($additional-palette,'primary-lightest') !important;
      }
    }

    [class*=icon-]{
      position: absolute;
    }
    &.a2a_s_facebook{
      svg{
        margin-bottom: rem-calc(-8.25%);
        margin-left: rem-calc(-4%);
        width: 130%;
      }
    }
    .icon-facebook{
      font-size: 1.3em;
      position: absolute;
      //margin-top: rem-calc(-8%);
      margin-bottom: rem-calc(-8.25%);
      margin-right: rem-calc(-2%);
    }
  }
// Utility generator
// Used to generate utilities & print utilities
@mixin generate-utility($utility, $infix, $is-rfs-media-query: false) {
  $values: map-get($utility, values);

  // If the values are a list or string, convert it into a map
  @if type-of($values) == "string" or type-of(nth($values, 1)) != "list" {
    $values: zip($values, $values);
  }

  @each $key, $value in $values {
    $properties: map-get($utility, property);

    // Multiple properties are possible, for example with vertical or horizontal margins or paddings
    @if type-of($properties) == "string" {
      $properties: append((), $properties);
    }

    // Use custom class if present
    $property-class: if(map-has-key($utility, class), map-get($utility, class), nth($properties, 1));
    $property-class: if($property-class == null, "", $property-class);

    // Use custom CSS variable name if present, otherwise default to `class`
    $css-variable-name: if(map-has-key($utility, css-variable-name), map-get($utility, css-variable-name), map-get($utility, class));

    // State params to generate pseudo-classes
    $state: if(map-has-key($utility, state), map-get($utility, state), ());

    $infix: if($property-class == "" and str-slice($infix, 1, 1) == "-", str-slice($infix, 2), $infix);

    // Don't prefix if value key is null (e.g. with shadow class)
    $property-class-modifier: if($key, if($property-class == "" and $infix == "", "", "-") + $key, "");

    @if map-get($utility, rfs) {
      // Inside the media query
      // @if $is-rfs-media-query {
      //   $val: rem-calc($value);

      //   // Do not render anything if fluid and non fluid values are the same
      //   $value: if($val == rem-calc($value), null, $val);
      // }
      // @else {
        $value: rem-calc($value);
      //}
    }

    // $is-css-var: map-get($utility, css-var);
    // $is-local-vars: map-get($utility, local-vars);
    // $is-rtl: map-get($utility, rtl);

    @debug $infix;

    @if $value != null {
        .#{$infix + $property-class  + $property-class-modifier} {
          @each $property in $properties {

            #{$property}: $value; //  if($enable-important-utilities, !important, null)
          }
        }

        @each $pseudo in $state {
          .#{$infix + $property-class + $property-class-modifier}-#{$pseudo}:#{$pseudo} {
            @each $property in $properties {

              #{$property}: $value if($enable-important-utilities, !important, null);
            }
          }
        }

    }
  }
}

@mixin generateVariants($map, $color){
  $variants: map-get($map, 'variants');
  @each $key, $value in $variants {

    $default-color: map-get($map, 'default');
    $output: $value;
    // @if (is-percentage($value)){
    //   $output: scale-color($default-color,$lightness: $output);
    // }
    // @debug $output;
    //@debug $utilities-colors;
    $utilities-colors: map-set($utilities-colors, #{$color}, $default-color) !global;
    $utilities-light-colors: map-set($utilities-light-colors, #{$color}, rgba($default-color, $bg-light-opacity)) !global;

    //@debug $utilities-colors;
    @if $output{
      $additional-palette: map-set($additional-palette, '#{$color}-#{$key}', $output) !global;
      $utilities-colors: map-set($utilities-colors, #{$color}-#{$key}, $output) !global;

    }




  }

}


@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}
