{%
  include '@demo_theme/card/card.twig' with {
    "card": card,
    "classes": ""
  } only
%}

<div style="margin-bottom: 2rem"></div>

{%
  include '@demo_theme/card/card.twig' with {
    "card": card_promo,
    "classes": " card--wide"
  } only
%}

<div style="margin-bottom: 2rem"></div>

{%
  include '@demo_theme/card/card.twig' with {
    "card": card_listing,
    "classes": " card--listing"
  } only
%}