<button class="hamburger" type="button" id="hamburger" data-toggle="hamburger" data-toggler=".is-active" aria-controls="mainMenu" aria-label="Toggle navigation">
  <span class="hamburger-icon">
    <span class="hamburger-icon-bar"></span>
  </span>
  <span class="hamburger-text">Menu</span>
</button>
