<div class="alert callout {{ alert_class | default }}" {% if closable | default %}data-closable{% endif %}>
  {{ text }}
  {% if closable | default %}
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  {% endif %}
</div>
