<div class="statistic text-center p-x-3">
  {% include 'components/inline/large-value.twig' with {
    value: value
  } %}
  <p class="lead m-b-0">
    {% if statistic_link | default %}
      <a href="{{ statistic_link }}">{{ text }}</a>
    {% else %}
      {{ text }}
    {% endif %}
  </p>
</div>
