<div class="statistic text-center p-x-3">
  {% include patternlab_namespace | default ~ 'components/inline-text/large-value.twig' with {
    value: value
  } %}
  <p class="lead m-b-0">
    {{ text }}

  </p>
</div>
