{{ attach_library('demo_theme/cards-list') }}

<section class="media-list">
  {% for media in media_list %}
    {%
      include '@demo_theme/media/media.twig' with {
        "video": media.video,
        "image": media.image,
        "caption": media.caption,
      } only
    %}
  {% endfor %}
</section>
