<section class="faq">
  {% block faq_items %}
    {% for item in items %}
      {%
        include '@components/faq/faq-item.twig' with {
          "item": item,
        } only
      %}
    {% endfor %}
  {% endblock %}
</section>
