<div class="block {{ input_class | default('my-4') }}">
  <label for="{{ id | default }}">{{ label }} {% if required | default %}<span class="form-required">*</span>{% endif %}</label>
  {% block field %}
  {% endblock %}
  {# {% if required | default %}
    <span class="form-error block">{{ label }} is required</span>
  {% endif %} #}
</div>
