
<p class="mb-3">Icons are text so they can be sized using the font size utility classes</p>
<i class="icon icon-bell text-xs"></i>
<i class="icon icon-bell text-sm"></i>
<i class="icon icon-bell"></i>
<i class="icon icon-bell text-lg"></i>
<i class="icon icon-bell text-xl"></i>

