
<p class="mb-3">Circles can be created using a combo of the width, aspect-square and rounded-full utility classes</p>
<div class="flex gap-3">
	<a class="aspect-square w-10 rounded-full flex items-center justify-center bg-primary text-white no-underline">
		<span class="icon-facebook"></span>
	</a>
	<a class="aspect-square w-10 rounded-full flex items-center justify-center bg-primary text-white no-underline">
		<span class="icon-twitter"></span>
	</a>
	<a class="aspect-square w-10 rounded-full flex items-center justify-center bg-primary text-white no-underline">
		<span class="icon-youtube-play"></span>
	</a>

	<a class="aspect-square w-10 rounded-full flex items-center justify-center bg-primary text-white no-underline">
		<span class="icon-pinterest-p"></span>
	</a>

</div>
