<div class="text">

	<p>
		<a href="#">This is a text link</a>.<br/>
		<strong>Strong is used to indicate strong importance</strong>.<br/>

		<em>This text has added emphasis</em>.<br/>

		<s>This text has a strikethrough</s>.<br/>

		Superscript<sup>®</sup>.<br/>

		Subscript for things like H<sub>2</sub>O.<br/>

		<small>This small text is small for for fine print, etc.</small>.<br/>

		Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr>.
	</p>



</div><!--end .text-->
