<div>
  {% for event in events %}
    <div class="card">
      <div class="card-section">
        <h2>{{ event.title }}</h2>
        <p>{{ event.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>


