{% embed 'components/sections/section.twig' with {
    "intro_class": style | default == 'side' ? '' : 'medium-text-center',
    "section_heading": "Statistics Module",
    "section_description": section_description | default
  }
%}
  {% block section_content %}
    <div class="slick-wrap">
      <div class="{% if style | default != 'side' %}grid-x grid-margin-x{% endif %} js-slick--mobile">
        {% for statistic in statistics %}
          <div {% if style | default != 'side' %}class="cell medium-4"{% endif %}>
            {% include 'components/informational/statistic.twig' with {
              text: statistic.text,
              value: statistic.value,
              statistic_link: statistic.statistic_link
            }%}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
