{% embed patternlab_namespace | default ~ 'components/sections/section.twig' with {
    "intro_class": 'text-center ' ~ (style | default == 'side' ? 'large-text-left' : ''),
    "section_heading": section_heading | default ? section_heading : "Statistics Module Heading",
    "section_description":  section_description | default,
    "section_button": section_button | default,
  }
%}
  {% block section_content %}

    <div class="row grid-margin-x">
      {% for statistic in statistics %}
        <div class="col col-md-4 {% if style | default == 'side' %}col-lg-2{% endif %}">
          {% include patternlab_namespace | default ~ 'components/informational/statistic.twig' with {
            text: statistic.text,
            value: statistic.value
          }%}
        </div>
      {% endfor %}
    </div>

  {% endblock %}
{% endembed %}
