{% embed 'components/sections/section.twig' with {
    "intro_class": section_description | default ? '' : 'medium-text-center',
    "section_heading": "Three-up Cards Module"
  }
%}
  {% block section_content %}
    <div class="slick-wrap">
      <div class="grid-x grid-margin-x js-slick--mobile" data-equalizer data-equalize-on="medium">
        {% for card in cards %}
          <div class="medium-4 cell">
            {% include 'components/teasers/card.twig' with {
              equalize: true,
              card: card
            }%}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
