<div class="statistic text-center px-3">
  {% include patternlab_namespace | default ~ 'components/inline-text/large-value.twig' with {
    value: value
  } %}
  <p class="lead mb-0">
    {{ text }}

  </p>
</div>
