<a href="#header" class="backToTop fixed bottom-8 right-8 flex flex-col rounded-full w-12 aspect-square justify-center items-center no-underline bg-opacity-70 bg-gray-700 hover:bg-opacity-100" {% if scroll_show | default(true) %}data-scroll-show="200"{% endif %} title="Back to top">
  <i class="backToTop_icon icon-chevron-up -mt-1"></i>
  <span class="backToTop_text uppercase text-xs font-bold"><span class="sr-only">Back to </span>top</span>
</a>
