<a href="#header" class="backToTop" {% if scroll_show | default(true) %}data-scroll-show="200"{% endif %} title="Back to top">
  <i class="backToTop_icon icon-chevron-up"></i>
  <span class="backToTop_text"><span class="sr-only">Back to </span>top</span>
</a>
