<div class="grid grid-cols-12 gap-3 form-group align-bottom">
  {% block form_content %}
    <div class=" lg:col-span-5 md:col-span-4">
      {% include '@components/forms/text/text.twig' with {
        label: "Text",
        name: "text",
        id: "field_group_1",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    <div class=" lg:col-span-5 md:col-span-4">
      {% include '@components/forms/text/text.twig' with {
        label: "Text",
        name: "text",
        id: "field_group_2",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    <div class=" lg:col-span-2 md:col-span-4">
      <button class="button" type="submit">Submit</button>
    </div>
  {% endblock %}
</div>
