<div class="flex flex-col md:flex-row gap-4">
  {% block form_content %}
    <div class=" md:w-1/2">
      {% include '@components/forms/text/text.twig' with {
        label: "Text",
        name: "text",
        id: "field_group_1",
        class: 'w-full',
        input_class: "my-0",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    <div class=" md:w-1/2">
      {% include '@components/forms/text/text.twig' with {
        label: "Text",
        name: "text",
        class: 'w-full',
        input_class: "my-0",
        id: "field_group_2",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    
    <button class="button self-end w-full md:w-auto" type="submit">Submit</button>
  
  {% endblock %}
</div>
