<div class="grid-x grid-margin-x form-group align-bottom">
  {% block form_content %}
    <div class="cell large-5 medium-4">
      {% include '@components/forms/text/text.twig' with {
        label: "Text",
        name: "text",
        id: "field_group_1",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    <div class="cell large-5 medium-4">
      {% include '@components/forms/text/text.twig' with {
        label: "Text",
        name: "text",
        id: "field_group_2",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    <div class="cell large-2 medium-4">
      <button class="button" type="submit">Submit</button>
    </div>
  {% endblock %}
</div>
