  <div id="body">
    <div class="row grid-margin-x">
      <div class="col col-md-8 l-content" id="content">
          {{ content }}
      </div>
      <div class="col col-md-4">
        <div data-sticky data-anchor="body" data-sticky-on="medium">
          {{ sidebar }}
        </div>
      </div>
    </div>
  </div>
