<div class="js-slider">
  {% for slide in slides %}
    <div class="text-center">
      <blockquote>Lorem ipsum dolor sit amet</blockquote>
    </div>
  {% endfor %}
</div>
<div class="slick-nav"></div>


