<div class="hero text-white">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-8">
        {% include 'components/navigation/breadcrumbs.twig' with breadcrumbs %}
        <h1>{{ heading }}</h1>
        {% if subheading %}
          <p class="lead">{{ subheading }}</p>
        {% endif %}
      </div>
      <div class="cell medium-4">
        {% include 'components/utils/add2any.twig' %}
      </div>
    </div>
  </div>
</div>
