<div class="grid-container">
    <a data-lity class="button" href="#inline">Open Inline</a>
    <a data-lity class="button" href="https://www.youtube.com/embed/XSGBVzeBUbk">Open Youtube</a>

</div>

<div id="inline" class="lity-hide">
    <h2>Modal Heading Here</h2>
    <p>Phasellus odio nisl, imperdiet vel tempus eu, blandit et erat. Nunc eget ligula quis quam viverra posuere eu vel magna. Curabitur tincidunt lacinia elit vitae molestie. Quisque eget nulla consequat, vestibulum libero scelerisque, iaculis mauris. Quisque vel sem tincidunt, tempus metus tincidunt, sagittis orci. Etiam dignissim volutpat augue in lobortis. Nullam sollicitudin est et erat vehicula, eu tempus tortor ornare.</p>
    <p>Sed faucibus non arcu ac consectetur. Donec erat lectus, pharetra ut nisi quis, mattis rhoncus sem. Aliquam sed ligula sed leo euismod venenatis. Pellentesque eget sodales nisi, sed sodales eros. Proin ante massa, consequat sit amet pulvinar eu, dapibus vitae lorem. Quisque maximus, nisi nec vestibulum lobortis, felis dolor placerat erat, at molestie turpis justo a elit. In hac habitasse platea dictumst.</p>
    {% include 'components/links/read-more.twig' %}
</div>
