  <div id="body" class="{{ wrapper_class | default }}">
    <div class="grid grid-cols-12 gap-6">
      <div class=" md:col-span-8 l-content" id="content">
          {{ content }}
      </div>
      <div class=" md:col-span-4">
        <div data-sticky data-anchor="body" data-sticky-on="medium">
          {{ sidebar }}
        </div>
      </div>
    </div>
  </div>
