  <div id="body" class="{{ wrapper_class }}">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8 l-content" id="content">
          {{ content }}
      </div>
      <div class="cell medium-4">
        <div data-sticky data-anchor="body" data-sticky-on="medium">
          {{ sidebar }}
        </div>
      </div>
    </div>
  </div>
