<section class="hero">
  {%
    include '@components/media/media.twig' with {
      "image": media.image,
      "video": media.video
    } only
  %}

  <div class="hero__content">
    {%
      include '@components/eyebrow/eyebrow.twig' with {
        "text": eyebrow.text,
        "classes": eyebrow.classes,
      } only
    %}

    {%
      include '@components/heading/heading.twig' with {
        "title": heading.title,
        "heading_level": heading.level,
        "classes": heading.classes
      } only
    %}

    {%
      include '@components/body/body.twig' with {
        "body": body.text,
        "classes": body.classes
      } only
    %}

    {%
      include '@components/button/button.twig' with {
        "text": button.text,
        "url": button.url,
      } only
    %}
  </div>
</section>
