// Import site utilities.
@import '../../global/utils/init';

.columns {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;

  @include breakpoint($bp-xl) {
    max-width: 1600px;
  }
}

.columns__item {
  margin-bottom: 1.5rem;
}
