<span class="meta">
  {{ date }}
  {% if date | default and categories | length %}
    <span class="divider"></span>
  {% endif %}
  {% if categories | length %}
    Categories: {% for category in categories %}<a href="{{ category.url }}">{{ category.title }}</a>{% if loop.last == false %}, {% endif %}{% endfor %}
  {% endif %}
</span>
