<script>
    function focusFirstFocusable() {
        const mainElement = document.getElementById('main');
        const focusableElements = mainElement.querySelectorAll('a, button, input, [tabindex]:not([tabindex="-1"])');
        
        if (focusableElements.length > 0) {
            focusableElements[0].focus();
        }
    }
</script>
<a href="#main" @keydown.enter.prevent="focusFirstFocusable" class="opacity-0 focus:opacity-100 fixed left-0 top-0 bg-primary text-white p-1" >Skip to main</a>
<header class="l-header py-4 lg:pt-8" id="header" x-data="{{'{'}} mainMenu: false, dropdownOpen: {sm: null, lg: null} {{'}'}}">
  <div class="container">
    <div class="grid grid-cols-12 gap-6 items-center justify-between">
      <div class="col-span-10 lg:col-span-9">
        {% include '@components/logo/logo.twig' with logo %}
      </div>
      <div class="col-span-12 lg:col-span-3 lg:block hidden">

        <div class="search-form">
          {% include '@components/forms/simple-form/simple-form.twig' %}
        </div>


        {#
        <button data-toggle="search-form search-toggle" data-toggler="is-active" id="search-toggle" class="search-toggle">
          <span class="sr-only">Search</span>
          <span class="icon-search"></span>
        </button>
        <div id="search-form" data-toggler=".hide" class="hide search-form">
          {% include '@components/forms/simple-form/simple-form.twig' %}
        </div>#}
      </div>
      <div class="col-span-2 lg:hidden flex justify-end items-center">            
        {% include  "@components/utils/hamburger/hamburger.twig" with {
          toggle: "mainMenu"
        } %}
      </div>      
    </div>

  </div>
  {% include '@components/navigation/menu/menu.twig' with menu %}
</header>
