<a href="#main" class="l-skip">Skip to main</a>
<header class="l-header py-4 lg:pt-8 lg:pt-4" id="header" x-data="{{'{'}} mainMenu: true, dropdownOpen: {sm: null, lg: null} {{'}'}}">
  <div class="container">
    <div class="grid grid-cols-12 gap-6 items-center justify-between">
      <div class="col-span-10 lg:col-span-9">
        {% include '@components/logo/logo.twig' with logo %}
      </div>
      <div class="col-span-12 lg:col-span-3 lg:block hidden">

        <div class="search-form">
          {% include '@components/forms/simple-form/simple-form.twig' %}
        </div>


        {#
        <button data-toggle="search-form search-toggle" data-toggler="is-active" id="search-toggle" class="search-toggle">
          <span class="sr-only">Search</span>
          <span class="icon-search"></span>
        </button>
        <div id="search-form" data-toggler=".hide" class="hide search-form">
          {% include '@components/forms/simple-form/simple-form.twig' %}
        </div>#}
      </div>
      <div class="col-span-2 lg:hidden flex justify-end items-center">            
        {% include  "@components/utils/hamburger/hamburger.twig" with {
          toggle: "mainMenu"
        } %}
      </div>      
    </div>

  </div>
  {% include '@components/navigation/menu/menu.twig' with menu %}
</header>
