<a href="#main" class="l-skip">Skip to main</a>
<header class="l-header" id="header">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-3 items-center">
      <div class=" small-2 lg:col-span-9">
        {% include '@components/logo/logo.twig' with logo %}
      </div>
      <div class=" lg:col-span-3 lg:d-block d-none">

        <div class="search-form">
          {% include '@components/forms/simple-form/simple-form.twig' %}
        </div>


        {#
        <button data-toggle="search-form search-toggle" data-toggler="is-active" id="search-toggle" class="search-toggle">
          <span class="sr-only">Search</span>
          <span class="icon-search"></span>
        </button>
        <div id="search-form" data-toggler=".hide" class="hide search-form">
          {% include '@components/forms/simple-form/simple-form.twig' %}
        </div>#}
      </div>
      <div class=" small-10 lg:col-span-12">
        {% include '@components/navigation/menu/menu.twig' with menu %}
      </div>
    </div>

  </div>
</header>
