<span class="text-smaller font-bold">
  {{ date }}
  {% if date | default and categories | length %}
    <span class="divider"></span>
  {% endif %}
  {% if categories | length %}
    <ul class="inline-list display-inlineBlock">
      {% for category in categories %}<li><a href="{{ category.url }}">{{ category.title }}</a></li>{% endfor %}
    </ul>
  {% endif %}
</span>
