<ul class="inline-list inline-list--divided text-smaller font-bold ">
  {% if date | default %}
    <li class="label">
      <time datetime="{{ date.unformatted }}">{{ date.full }}</time>
    </li>
  {% endif %}

  {% if categories | length %}
    <li>
      <ul class="inline-list inline-list--top">
        {% for category in categories %}<li><a href="{{ category.url }}">{{ category.title }}</a></li>{% endfor %}
      </ul>
    </li>
  {% endif %}
</ul>
