<section class="hero">
  <div class="hero__content">
    {%
      include '@demo_theme/eyebrow/eyebrow.twig' with {
        "text": eyebrow.text,
        "classes": eyebrow.classes,
      } only
    %}

    {%
      include '@demo_theme/heading/heading.twig' with {
        "title": heading.title,
        "heading_level": heading.level,
      } only
    %}

    <p class="hero__body">{{ hero_body }}</p>
    
    {%
      include '@demo_theme/button/button.twig' with {
        "text": button.text,
        "url": button.url,
      } only
    %}

  </div>
</section>