@import "../vendor/icomoon/variables";
.accordion{
  background: none;
  &-heading{
    &:focus-within{
      + .accordion-title{
        background-color: $accordion-item-background-hover;
      }
    }
  }
  &-title{
    line-height: 1.2;
    background-color: $accordion-background;
    
    //padding-right: #{get-side($accordion-item-padding,'right') + rem-calc(30)};
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: bold;


    @include font-scale-mobile($accordion-title-font-size,20);
    &:before{
      display: none;
    }
    &-icon{
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;      
      font-weight: normal;
      font-size: rem-calc(16);
      color: $primary-color;
      font-family: $icomoon-font-family;
      content: $icon-chevron-down !important;
      .accordion-item.is-active &{
      
        transform: translateY(-50%) rotate(180deg);
    
      }
    }

    &:hover, &:focus{
      //color: $white;
      background-color: $accordion-item-background-hover;
    }
    &:focus{
      background-color: $accordion-background;
    }
    &--notch{
      //position: relative;
      //display: flex;      
      // .accordion-notch{
      //   @include font-scale-mobile(24, 0, true);
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   height: 100%;
      //   color: $primary-color;
      //   display: inline-flex;
      //   font-weight: bold;
      //   align-items: center;
      //   justify-content: flex-end;
      //   width: rem-calc($spacer*4);
      //   //background-color: map-get($additional-palette, 'primary-darker');
      //   @include breakpoint(medium){
      //     width: rem-calc($spacer*6);
      //   }

      // }

    }


  }
  &-content{

    > *:last-child{
      margin-bottom: 0;
    }
  }
  

}
