
.a2a{
  &_menu{
    &:before{
      position: absolute;
      content: '';
      display: block;
      height: rem-calc(10);
      width: 100%;
      bottom: 100%;
    }
    overflow: visible !important;
    margin-top: rem-calc(10) !important;
  }
  &_svg{
    //max-width: rem-calc(25);
    //max-height: rem-calc(25);
    margin-right: rem-calc(15);
    //background-color: $primary-color !important;
    @include icon-circle();
  }
  &_kit{
    margin-bottom: rem-calc(35);
    &_label{
      font-size: rem-calc(14);
      display: block;
      font-weight: bold;
      margin-bottom: rem-calc(0);
    }
  }
}
