.alert-bar{

  padding: rem-calc(15 0);
  &_label{
    display: inline-block;
    margin-right: rem-calc(8);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: rem-calc(16);
    letter-spacing: 1px;
    &:after{
      content: ":";
    }
  }
  a{
    color: inherit;
  }
  @include media-breakpoint-down(medium){
    &_label{
      margin-top: rem-calc(3);
    }
    .grid-container{
      text-align: left;
      display: flex;
    }
  }
}
