//@import '../vendor/icomoon/variables';
.backToTop{
  position: fixed;
  bottom: rem-calc(30);
  right: rem-calc(30);
  z-index: 10;
  background-color: rgba($dark-gray,0.3);
  box-shadow: $global-box-shadow;
  text-decoration: none;
  text-align: center;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $black;
  @include size(50);
  padding-bottom: rem-calc(3);
  //width: rem-calc(72);
  //padding: rem-calc(8 8 12);
  &_icon{
    display: block;
    font-size: rem-calc(20);
    @include breakpoint(large){
      margin-bottom: rem-calc(1);
    }
  }
  &_text{
    font-size: rem-calc(10);
    font-family: $secondaryFontFamily;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $global-weight-bold;
    display: block;
    text-transform: uppercase;
    letter-spacing: .56px;
  }
  &:hover, &:focus{
    background-color: $dark-gray;
    color: $black;
    text-decoration: none;
  }
  pointer-events: none;
  //display: block;
  // opacity: 0;
  // transition: 0.25s opacity, 0.3s transform;
  // transform: translateY(100px);
  &.is-active{
    pointer-events: all;
    // transform: translateY(0);
    // opacity: 1;
  }
  // &:before{
  //   margin-top: rem-calc(-6);
  //   font-family: $icomoon-font-family;
  //   content: $icon-chevron-up;
  //   font-size: rem-calc(25);

  // }
}
