
.fui-btn{
  background-color: $primary;
  padding: $btn-padding-y $btn-padding-x;
  color: $btn-link-color;
  font-family: $font-family-base;
  //font-weight: $button-font-weight;
  border: 0;
  cursor: pointer;
}

.button, .fui-btn{
  font-weight: $font-weight-bold;
  text-decoration: none;
  box-shadow: $box-shadow;
  &.secondary{
    &:hover{
      background-color: map-get($additional-palette,'secondary-darker');
    }
  }
  + .button{
    margin-left: $spacer;
  }

  $button-vertical-padding-mobile: 12;
  @include media-breakpoint-only(sm){
    padding-top: rem-calc($button-vertical-padding-mobile);
    padding-bottom: rem-calc($button-vertical-padding-mobile);
  }
  p + &, p + p > &:only-child{
    margin-top: rem-calc(-1*$spacer);
  }
}



span.button{
  a{
    color: inherit;
    text-decoration: inherit;
  }
}
