
.fui-btn{
  background-color: $button-background;
  padding: $button-padding;
  color: $button-color;
  font-family: $button-font-family;
  //font-weight: $button-font-weight;
  border: 0;
  cursor: pointer;
}

.button, .fui-btn{
  font-weight: $global-weight-bold;
  text-decoration: none;
  box-shadow: $global-box-shadow;
  &.secondary{
    &:hover{
      background-color: map-get($additional-palette,'secondary-darker');
    }
  }
  + .button{
    margin-left: $spacer;
  }

  $button-vertical-padding-mobile: 12;
  @include breakpoint(small only){
    padding-top: rem-calc($button-vertical-padding-mobile);
    padding-bottom: rem-calc($button-vertical-padding-mobile);
  }
}



span.button{
  a{
    color: inherit;
    text-decoration: inherit;
  }
}
