.card{
  //max-width: rem-calc(500);
  position: relative;
  .date{
    position: absolute;
    left: 0;
    top: 0;
  }
  .flag{
    position: absolute;
    top: 0;
    right: 0;
  }
  &-section{
    @include spacer(padding,top,4,4);
    @include spacer(padding,x,4,3);
    @include spacer(padding,bottom,5,4);
  }
  &-image{
    img{
      width: 100%;
    }
  }
  &--click{
    position: relative;
    .card_click{
      opacity: 0;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &:focus-within, &:hover, &:focus{
      .read-more{
        text-decoration: underline;
      }
      //box-shadow: 0 0 6px 1px rgba($gray-600, 0.5);
    }
  }
  &--special{
    position: relative;
    border: 0;
    background-color: $primary;
    .card-section{
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: transparent;
      left: 0;
      color: $white;
      z-index: 1;
      .read-more{
        color: inherit;
      }
    }
    &:after{
      @include stretch;
      content: "";
      //position: absolute;
      top: auto;
      bottom: 0;
      transition: 0.3s height;
      background: linear-gradient(to bottom, rgba($primary,0), $primary);
    }
  }
  &--thumb{
    .card-image{
      @include media-breakpoint-only(sm){
        margin: auto;
        display: block;
        width: rem-calc(176);
      }
    }
  }
  &--horizontal{
    @include media-breakpoint-up(large){
      .card-section{
        //@include spacer(padding,x,4,4);
        @include spacer(padding,top,5);
      }
    }
    // @include media-breakpoint-up(medium){
    //   .cell{
    //     &:not(:first-child):not([class*=medium-order-1]){
    //       margin-left: rem-calc(10);
    //     }
    //   }
    // }
  }
}
