.card{
  max-width: rem-calc(500);
  &--click{
    position: relative;
    a{
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &:focus-within{
      box-shadow: 0 0 6px 1px rgba($medium-gray, 0.5);
    }
  }
}
