.card{
  //max-width: rem-calc(500);
  position: relative;
  .date{
    position: absolute;
    left: 0;
    top: 0;
  }
  .flag{
    position: absolute;
    top: 0;
    right: 0;
  }
  &-image{
    img{
      width: 100%;
    }
  }
  &--click{
    position: relative;
    a{
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    &:focus-within{
      box-shadow: 0 0 6px 1px rgba($medium-gray, 0.5);
    }
  }

  &--horizontal{
    .card-section{
      @include spacer(padding,x,4);
      @include spacer(padding,y,5);
    }
    @include breakpoint(medium){
      .cell{
        &:not(:first-child):not([class*=medium-order-1]){
          margin-left: rem-calc(10);
        }
      }
    }
  }
}
