.dropdown{
  &_toggle{
    background-color: $white;
    padding: rem-calc($spacer*2 $spacer);
    border-radius: $border-radius;
    //border: $input-border;
    text-align: left;
    width: 100%;
    @include dropdown();
    background-position: calc(100% - 12px) center;
  }
  &_wrapper{
    flex: 2;
    position: relative;
  }
  &-pane{
    color: $body-color;
    padding: rem-calc($spacer $spacer*2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    //border: $input-border;
    border-top: 0;
    min-width: 100%;
    //transform: translateY(-2px);
    .menu{
      a{
        padding: rem-calc($spacer 0);
      }
      .is-active a{
        background: none;
        text-decoration: underline;
        //color: $black;
      }
    }
    //width: 100%;
  }
}
