$hamburger-color: $primary-color;
.hamburger{
  background: transparent;
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  color: $white;
  border: 0;
  cursor: pointer;
  font-size: rem-calc(10);
  font-weight: bold;
  text-align: center;
  &:focus{
    outline: none;
  }
  &-icon{
    position: relative;
    $menu-toggle-padding: 10;
    display: block;
    width: rem-calc(30);
    height: rem-calc(19.5);
    cursor: pointer;
    &:before, &:after, &-bar{
      content: "";
      left: 0;
      background: $hamburger-color;
      height: rem-calc(3);
      position: absolute;
      width: 100%;
      transition: 0.15s transform, 0.025s top;
      transform-origin: center;
      pointer-events: none;
    }
    &-bar{
      @include vertical-center;
    }

    &:before{
      transform: translateY(0px);
    }
    &:after{
      transform: translateY(18px);
    }
  }
  &-text{
    letter-spacing: 0.7px;
    margin-top: rem-calc($spacer);
    display: block;
    position: relative;
    color: $black;
    &:after{
      content: "Close";
      color: transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &:not(.is-active){
    .hamburger{
      &-icon{
        &-bar{
          transition: 0.3s opacity;
        }
      }
    }
  }
  &.is-active, body.has-menu &{
    z-index: 11;
    position: fixed;
    .hamburger{ // namespace only

      &-text{
        margin-top: rem-calc(25);
        //color: transparent;
        &:after{
          color: transparent;
        }
      }
      &-icon{
        margin-top: rem-calc(-19);
        // &-bar, &:before, &:after{
        //   background-color: $secondary-color;;
        // }

        &-bar{
          opacity: 0;
        }
        &:before, &:after{
          top: rem-calc(25);
        }
        &:before{
          transform: rotate(45deg);
        }
        &:after{
          transform: rotate(-45deg);
        }
      }
    }


  }

}
