.hero{
  .breadcrumbs{    
    &, li, a, li:after{
      color: inherit;
    }
  }
  &_content{
    *:last-child{
      margin-bottom: 0;
    }
  }
  @include breakpoint(medium){
    .a2a_kit{
      float: right;
    }
  }
}
