@import '../vendor/icomoon/variables';
.read-more{
  &:after{
    font-family: $icomoon-font-family;
    content: $icon-chevron-right;
    //display: inline-block;
    //vertical-align: middle;
    margin-left: rem-calc(7);
    font-size: rem-calc(14);
  }
}
