@import '../vendor/icomoon/variables';
@import './buttons';


.read-more{
  position: relative;
  font-family: $secondaryFontFamily;
  text-decoration: none;
  font-weight: $global-weight-semibold;
  display: inline-block;
  line-height: 1.2;
  &:not(.button){
    padding-bottom: 2px;
  }

  &:after{
    font-family: $icomoon-font-family;
    content: '\00A0#{$icon-chevron-right}';
    font-size: .72em; // 13/18
    display: inline-block;
    transition: 0.3s transform;
    line-height: inherit;
  }
  &:hover, &:focus{
    text-decoration: underline;
    // &:after{
    //   transform: translateX(5px);
    // }
  }

}



.links{
  .cell{
    border-bottom: $hr-border;
    padding: rem-calc(15 0);
  }
  @include breakpoint(small only){
    .grid-x{
      &:last-child{
        .cell:last-child{
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }
  @include breakpoint(medium){

    .cell{
      padding: rem-calc(40 0);
      @include align-center;
    }
    .grid-x{
      &:first-child{
        .cell{
          padding-top: 0;
        }
      }
      &:last-child{
        .cell{
          padding-bottom: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
