.listing{
  .item{
    *:last-child{
      margin-bottom: 0;
    }

    border-bottom: $hr-border-width;
    @include spacer(padding,bottom,5,4);
    @include spacer(padding,top,5,4);

    .media-object-section:first-child{
      padding-left: 0;
      &:not(:last-child){
        @include media-breakpoint-up(medium){
          max-width: 40%;
          //padding-right: map-get($grid-margin-gutters,medium);
          img{
            width: rem-calc(250);
            max-width: 100%;
          }
        }
        @include media-breakpoint-up(large){
          //padding-right: map-get($grid-margin-gutters,large);
        }
        padding-left: 0;
      }
    }

    @include media-breakpoint-only(sm){

      .media-object{
        &:not(.media-object--stack){
          .media-object-section:first-child{
            padding-right: $spacer*2;
          }
        }

      }
    }
  }
}
