.listing{
  .item{
    *:last-child{
      margin-bottom: 0;
    }

    border-bottom: $hr-border;
    @include spacer(margin,bottom,4);
    @include spacer(padding,bottom,5);
    @include breakpoint(large){
      img{
        max-width: rem-calc(250);
      }
    }
    .media-object-section:first-child{
      padding-left: 0;
    }
  }
}
