.listing{
  .item{
    *:last-child{
      margin-bottom: 0;
    }

    border-bottom: $hr-border;
    @include spacer(padding,bottom,5,4);
    @include spacer(padding,top,5,4);

    .media-object-section:first-child:not(:last-child){
      @include breakpoint(medium){
        max-width: 40%;
        //padding-right: map-get($grid-margin-gutters,medium);
        img{
          width: rem-calc(250);
          max-width: 100%;
        }
      }
      @include breakpoint(large){
        //padding-right: map-get($grid-margin-gutters,large);
      }
      padding-left: 0;
    }

    @include breakpoint(small only){

      .media-object{
        &:not(.media-object--stack){
          .media-object-section:first-child{
            padding-right: $spacer*2;
          }
        }

      }
    }
  }
}
