@import 'variables/plugins';
@if ($lity){
  .lity{
    background-color: rgba(map-get($additional-palette,'gray-darker'), 0.8);
    &-active{
      overflow: auto;
    }
    &-content{
      border: 0;
      background-color: $white;
      margin: rem-calc(0 30);
      @include spacer(padding,x,4);
      @include spacer(padding,y,5);
      width: calc(100% - #{rem-calc(60)});
      max-width: rem-calc(1076);
      &:after{
        box-shadow: $box-shadow;
      }
      > div > *:last-child{
        margin-bottom: 0;
      }
    }
    &-close{
      &, &:hover, &:focus{
        text-shadow: none;
        color: $primary;
        position: absolute;
        //right: rem-calc(54);
        top: 0;
        right: rem-calc(45);
        @include spacer(margin,top,5);
        font-size: rem-calc(50);
        @include media-breakpoint-up(large){
          right: rem-calc(54);
          //top: rem-calc(40);
        }
      }
    }
    // [data-sticky-container]{
    //   height: auto !important;
    // }
    &-iframe{
      .lity-content{
        padding: 0 !important;
      }
      .lity-close{
        background-color: $white;
        line-heigth: 0.75;
      }
    }
  }

}
