@import '../vendor/icomoon/variables';


@mixin removeArrow($arrow-size){
  &:after{
    font-family: $icomoon-font-family;
    content: $icon-chevron-down !important;
    border: none !important;
    font-size: rem-calc($arrow-size);
    //width: rem-calc($arrow-size) !important;
    //height: rem-calc($arrow-size) !important;
    margin-top: rem-calc(-0.5*$arrow-size) !important;
  }
}
.accordion-menu {
  $arrow-size: 18px;
  .is-accordion-submenu-parent:not(.has-submenu-toggle) {
    > a{
      @include removeArrow($arrow-size);
      &:after{
        font-size: rem-calc(14);
        color: $primary;
      }
    }
    &[aria-expanded="true"]{
      > a:after{
        transform: scaleY(-1) translateY(-1*$arrow-size);
      }
    }
  }
}

.dropdown{

  > li.is-dropdown-submenu-parent {
    > a{
      padding-right: rem-calc(35) !important;
      &:after{
        right: rem-calc(15);
      }
      @include removeArrow(10px);
    }
  }
}
