.section{
  
  @include spacer(padding,top,12,4);
  @include spacer(padding,bottom,13,5);

  background-size: cover;
  background-position: center;
  position: relative;
  .section{
    &:first-child{
      padding-top: 0;
    }
  }
  &[class*=bg-]:before{
    z-index: 1;
  }
  &_background{
    @include stretch;
    opacity: 0.6;
    object-fit: cover;
    background-size: cover;
    background-position: center;
  }
  &_content{
    position: relative;
    z-index: 2;
    &, .cell{
      > *:last-child{
        margin-bottom: 0;
      }
    }
  }

  &_intro{
    position: relative;
    z-index: 2;
    @include breakpoint(medium down){
      margin-bottom: $spacer*3;
      //@include spacer(margin,bottom,4);
    }
    &:not(:last-child){
      @include breakpoint(large){
        @include spacer(margin,bottom,5);
      }
    }

    *:last-child{
      margin-bottom: 0;
    }
  }

  &--tight{
    @include spacer(padding,top,5,2);
    @include spacer(padding,bottom,6,3);
    @include breakpoint(medium down){
      &:first-child{
        padding-top: $spacer*4;
      }
      &:last-child{
        padding-bottom: $spacer*5;
      }
    }
    &.section--collapse{
      + .section--tight.section--collapse{
        padding-top: 0 !important;
      }
    }
  }
  &:not(.section--tight):not([class*=bg-solid-]):not([class*=bg-light-]):not([class*=bg-gradient-]), &.bg-gradient--down{
    .section:not([class*=bg-]) + &, .section.bg-gradient--flip + &{
      padding-top: 0;
    }

    .section:not([class*=bg-]).section--tight + &{
      @include spacer(padding,top,6);
    }

  }
}
