.section{
  // $section-padding: 50;
  // $section-padding-medium: 95;
  // $section-padding-large: 115;
  @include spacer(padding,top,12);
  @include spacer(padding,bottom,13);

  background-size: cover;
  background-position: center;
  position: relative;
  &_background{
    @include stretch;
    opacity: 0.6;
    background-size: cover;
    background-position: center;
  }
  &_content{
    position: relative;
    &, .cell{
      > *:last-child{
        margin-bottom: 0;
      }
    }
  }

  &_intro{
    position: relative;
    z-index: 2;
    &:not(:last-child){
      margin-bottom: rem-calc(35);
      @include breakpoint(medium){
        margin-bottom: rem-calc(40);
      }
    }

    *:last-child{
      margin-bottom: 0;
    }
  }

  &--tight{
    @include spacer(padding,top,5);
    @include spacer(padding,bottom,6);
    &.section--collapse{
      + .section--tight.section--collapse{
        padding-top: 0 !important;
      }
    }
  }
}
