@import 'variables/plugins';
@if ($selectize){
  $selectize-arrow-y: 6.5;
  $selectize-arrow-x: 4.5;
  .selectize{
    &-input{
      font-size: $input-font-size;
      padding: $input-padding-x $input-padding-y;
      border-radius: $input-border-radius;
      box-shadow: $input-box-shadow;
      > input{
        font-size: inherit;
        margin-top: rem-calc(-2) !important;
        margin-bottom: rem-calc(-2) !important;
      }
      &:after{
        border-top-color: $black !important;
        border-width: rem-calc($selectize-arrow-y $selectize-arrow-x 0) !important;
      }
      &.dropdown-active{
        &:after{
          border-bottom-color: $black !important;
          border-width: rem-calc(0 $selectize-arrow-x $selectize-arrow-y) !important;
        }
      }
    }
    &-dropdown{
      font-size: $input-font-size;
      .option{
        padding: $input-padding-x $input-padding-y;
        &.active{
          background-color: map-get($additional-palette,'secondary-lightest');
        }
      }
    }
  }
}
