@import 'variables/plugins';
@if ($selectize){
  .selectize{
    &-input{
      font-size: $input-font-size;
      padding: $input-padding;
      border-radius: $input-radius;
      box-shadow: $input-shadow;
      > input{
        font-size: inherit;
      }
      &:after{
        border-top-color: $black !important;
        border-width: 7px 4.5px 0 !important;
      }
      &.dropdown-active{
        > input{
          margin-top: rem-calc(-2) !important;
          margin-bottom: rem-calc(-2) !important;
        }
        &:after{
          border-bottom-color: $black !important;
          border-width: 0 4.5px 7px !important;
        }
      }
    }
    &-dropdown{
      font-size: $input-font-size;
      .option{
        padding: $input-padding;
        &.active{
          background-color: map-get($additional-palette,'secondary-lightest');
        }
      }
    }
  }
}
