@import '../vendor/icomoon/variables';
@import 'variables/plugins';

@if ($slick){
	$arrow-margin-xxlarge: 25px;
	$peekaboo-space: 30px;
	$slide-margin-mobile: 10px;
	$slide-margin: map-get($grid-margin-gutters,'medium');

	$slide-margin-offset: 15; // to prevent shadow overflow issues

	.slick-list{
		margin-top: rem-calc(-1*$slide-margin-offset);
		margin-bottom: rem-calc(-1*$slide-margin-offset);
		@include breakpoint(small only){
			margin-left: rem-calc(-1*$slide-margin-mobile);
			margin-right: rem-calc(-1*$slide-margin-mobile);

		}
	}
	.slick_controls{
		display:flex;
		position: relative;
		.slick-arrow{
			margin: 0;
			width: auto;
			height: auto;
			background-color: map-get($additional-palette,'secondary-darker');
			color: $black;
			border-radius: 0;
			padding: rem-calc(2 8);
			position: relative;

			transition: 0.3s width, 0.3s padding, 0.1s opacity 0.2s;
			&:not(foo):after{
				content: "";
				display: block;
				@include stretch();
				background: linear-gradient(to right, rgba($white,0) 0%, rgba($white,1) 100%);
			}
			&.slick-next{
				&:after{
					left: auto;
					right: 100%;
				}
			}
			&.slick-prev{
				&:after{
					left: 100%;
					transform: scaleX(-1);
				}
			}
			// &.slick-disabled{
			// 	display: none;

			// }

		}
		&.is-start .slick-prev, &.is-end .slick-next{
				opacity: 0;
				pointer-events: none;
				width: 0;
				padding: 0;
		}
		// {
		// 	.slick-next{
		// 		opacity: 0;

		// 	}
		// }
		.slick-slider.is-paused ~ &{
			.slick-toggle{
				.inactive{
					display: block;
				}
				.active{
					display: none;
				}
			}

		}
	}
	.slick_tabs{
		list-style-type: none;
		margin: 0;
		display: inline-flex;
		box-shadow: $global-box-shadow;
		overflow-y: hidden;
		overflow-x: scroll;
		max-width: 100%;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar{
			display: none;
		}
		li{
			//display: inline-flex;
			margin: 0;
			button{
				cursor: pointer;
				white-space: nowrap;
				padding: rem-calc(20 15);
				font-weight: $global-weight-bold;
				background-color: $white;
			}
			&.is-active{
				button{
					position: relative;
					z-index: 2;
					background-color: $secondary-color;
				}
			}
			&:not(:last-child){
				border-right: 1px solid $medium-gray;
			}
		}
	}
	.slick_progress{
		z-index: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rem-calc(6);
		background-color: rgba($secondary-color,0.4);
		&_line{
			height: 100%;
			background-color: $secondary-color;
		}
	}

	.slick-track{
		margin-left: auto;
		margin-right: auto;
	}

	.slick-slide{
		margin: rem-calc($slide-margin-offset) rem-calc($slide-margin-mobile);
		@each $breakpoint, $value in $grid-margin-gutters{
			@include breakpoint($breakpoint){
				margin: rem-calc($slide-margin-offset) rem-calc( #{0.5 *map-get($grid-margin-gutters,$breakpoint)});
			}
		}

		.card{
			margin-bottom: 0;
		}
	}

	$toggle-spacing: 18;
	.slick-toggle{
		color: $primary-color;
		cursor: pointer;
		order: 3;
		position: relative;
		margin-left: rem-calc($toggle-spacing);
		height: rem-calc(23);
		display: inline-block;
		width: rem-calc(18);
		@include breakpoint(large){
			font-size: rem-calc(30);
			height: rem-calc(35);
			width: rem-calc(25);
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			background-color: $tertiary-color;
			height: 100%;
			width: rem-calc(1);
			left: rem-calc(-1*$toggle-spacing);
			top: 0;
		}
		.active, .inactive{
			left: 0;
			@include vertical-center;
		}

		.inactive{
			display: none;
		}
	}


	.slick-wrap{
		position: relative;
	}

	.slick-slider{
		&--equalize{
			.slick-track{
				display: flex !important;
			}
			.slick-slide{
				//margin: 0;
				height: inherit !important;
				display: flex !important;
				align-items: center;
			}
		}
		&.has-peekaboo{
			@include breakpoint(small only){
				overflow: hidden;
				padding-right: rem-calc($peekaboo-space);
				margin-right: -0.5*map-get($grid-container-padding,'small');
				.slick-list{
					overflow: visible !important;
				}
			}
		}
		&:not(.has-pagers){
			+ .slick-nav{
				display: none;
			}
		}

		@include breakpoint(small only) {
			+ .slick-nav{
				// position: relative;


					.slick-dots{

						counter-reset: pages;
	//					margin-left: 0;
						li{
							counter-increment: pages;
							padding: 0 !important;
							&:not(.slick-active){
								display: none;
							}
							&.slick-active{
								//padding-top: rem-calc(3);
								button{
									border-radius: 0;
									width: auto;
									height: auto;
									background-color: transparent;
									font-size: 0;
									border: 0;
									color: transparent;
									line-height: 1;
									&:after{
										font-size: rem-calc(16);
										content: attr(aria-label);
										color: $black;
									}
								}
							}
						}

					}



			}
		}

	}


	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		@include spacer(margin,x,2.5);
		list-style-type: none;

		li {

			&,
			&:last-child {
				@include spacer(padding,x,1.5);
				//padding: rem-calc(15 $spacer*3/2);
				//padding-bottom: rem-calc(14) !important;

				// @include breakpoint(large) {
				// 	padding-top: rem-calc(11);
				// 	padding-bottom: rem-calc(11) !important;
				// }
			}

			button{
				@include size(rem-calc($spacer-mobile*3));
				@include breakpoint(medium){
					@include size(rem-calc($spacer*3));
				}
				display: block;
				font-size: 0;
				line-height: 0;
				border-radius: 50%;
				border: 2px solid $primary-color;
				background: $primary-color;
				cursor: pointer;
			}

			&.slick-active,
			&.active {

				button {
					background-color: $white;
					cursor: default;
				}
			}

			&:before {
				content: "";
				display: none;
			}
		}

	}
	.slick-arrow {
		&.slick-disabled {
			background-color: $input-background-disabled;
			&:before{
				color: $medium-gray;
			}
			&,
			&:focus {
				color: $light-gray;
				pointer-events: none;

				html:not(.touch-device) & {
					color: $light-gray;
				}
			}
		}
	}

	.slick-nav{
		@include spacer(margin,top,4);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		.slick-prev {
			order: 1;
			margin-right: 0;
		}

		.slick-next {
			order: 3;
			margin-left: 0;
		}

		.slick-dots {
			order: 2;
			flex-wrap: wrap;
			max-width: calc(100% - 68px);


		}


		.slick-slider.is-paused + &{

			.slick-toggle{
				.inactive{
					display: block;
				}
				.active{
					display: none;
				}
			}
		}



		.slick-slider.is-paused + &{

			.slick-toggle{
				.inactive{
					display: block;
				}
				.active{
					display: none;
				}
			}
		}


	}

	.js-slick--cards{
		@include breakpoint(medium down){
			margin-left: 0;
			margin-right: 0
		}
	}

	.js-slick--center{
		$transition-duration: 0.8s;
		$slide-margin: 80;
		$slide-transform: 80;
		$slide-width: 450;
		$slide-current-diff: 230;
		$curr-width: $slide-width + $slide-current-diff;
		$curr-section-offset: 80;
		$image-ratio: 630/400; // need to update this to match the image size


		.slick-slide{
			margin: rem-calc($slide-margin-offset) rem-calc($slide-margin-mobile);
		}
		@include breakpoint(medium down){

			margin: auto;
			max-width: rem-calc(600px);

		}
		@include breakpoint(large){
			.slick-list{
				overflow: visible;
				//display: flex;
			}
			.slick-slide{
				margin: rem-calc($slide-margin-offset) rem-calc($slide-margin);
				//max-width: 100vw;
				width: rem-calc($slide-width);
				transform: translateY(#{rem-calc($slide-transform)});
				transition: $transition-duration margin, $transition-duration width;
				will-change: margin, width;
				.card-section{
					will-change: opacity, padding;
					transition: 0.5s opacity, $transition-duration padding;
				}

				&:before, &:after, p, .h4{ // selectors to hide

					will-change: opacity, max-height;
					transition: 0.2s max-height 0.5s, 0.5s opacity 0.5s;
				}

				.card-title{
					//@at-root: rem-calc(-16);
					transition: 0.2s font-size 0.3s, 0.2s margin 0.3s;
				}

				.card-image{
					transition: $transition-duration margin, $transition-duration max-height;
					img{
						object-fit: cover;
						height: 100%;
					}
				}
				&:not(.slick-primary):not(.slick-clone-current){
					margin-bottom: rem-calc($curr-width/$image-ratio - $slide-width/$image-ratio + $slide-margin-offset);
					.card-section{
						@include spacer(padding,y,3);
						@include spacer(padding,x,4);
					}
					.card-image{
						transition: $transition-duration margin;
					}

					&:after{
						transition: $transition-duration bottom;
					}
				}

				&:not(.slick-animating){
					.card-section{
						transition: 0.5s opacity 0.5s;
					}
				}
				&.slick-animating{
					.card-section{
						opacity: 0;
						//transition: 0.25s opacity;
					}
				}
				&.slick-primary, &.slick-clone-current{
					z-index: 2;
					position: relative;
					width: rem-calc($curr-width);
					margin: rem-calc($slide-margin-offset) #{$slide-margin*2 - ($slide-current-diff/2 + $slide-margin)}px;
					transform: translateY(#{rem-calc(0)});

					.card--special{
						box-shadow: $global-box-shadow;
						.card-section{
							@include spacer(padding,all,5);
						}
						.card-image{
							margin-bottom: rem-calc($curr-section-offset);
						}
						&:after{
							height: 70%;
							bottom: rem-calc(80);
						}
					}
					// .card-section{
					// 	background-color: $secondary-color;
					// 	color: $white;
					// }
					.card-image, .button{
						max-height: rem-calc(1000);
						//opacity: 1;
					}
					&.slick-animate{
						&:before, &:after, p, .h4{  // selectors to hide
							opacity: 1;
						}

						p{
							max-height: rem-calc(1000);
							transition: $transition-duration opacity 0.5s, 0.2s max-height 0.5s;
						}
						.card-section{
							opacity: 1;
							@include spacer(padding,all,5);
							//transition: 0.5 opacity 0.5s,  0.2s padding 0.5s;
						}
					}
				}

			}
		}

	}
}
