.step-list{
  counter-set: steps;
  list-style-type: none;
  margin-left: 0;
  li{
    counter-increment: steps;
    position: relative;
    //padding-left: rem-calc(70);
    &:before{
      line-height: 1;
      content: counter(steps);
      position: absolute;
      width: rem-calc($spacer*8);
      //padding-right: rem-calc(20);
      @include font-scale-mobile(48,0,true);
      @include spacer(padding,right,2,3);
      text-align: right;
      left: 0;
      top: rem-calc(-7);
      //font-size: rem-calc(48);
      font-weight: bold;
      color: $primary-color;
      @include breakpoint(small only){
        width: rem-calc($spacer*3);
      }
    }
  }
}
