
.tabs{
  border: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  //display: flex;
  &::-webkit-scrollbar{
    display: none;
  }
  &-title{
    button{
      white-space: nowrap;
      
      font-weight: $global-weight-bold;
      cursor: pointer;
      color: $tab-color;
      
      @include font-scale-mobile($tab-item-font-size,18,true);
      &:hover{
        background-color: $tab-item-background-hover;
      }
      @include breakpoint(xlarge){
        min-width: rem-calc(160);
      }
    }
    &.is-active{
      button{
        background-color: $tab-background-active;
        color: $tab-active-color;
      }
    }
  }
  &-content{
    position: relative;
    border: 0;
    box-shadow: $global-box-shadow;
  }
  &-panel{    
    > *:last-child{
      margin-bottom: 0;
    }
  }
  // @include breakpoint(medium down){

  // }
}
