
.tabs{
  border: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  display: flex;
  &::-webkit-scrollbar{
    display: none;
  }
  &-title{
    button{
      white-space: nowrap;
      @include spacer(margin,right,1);
      font-weight: $font-weight-bold;
      cursor: pointer;
      color: $nav-link-color;
      //font-size: $nav-link-font-size;
      @include spacer(padding,y,2.25,1);
      @include spacer(padding,x,5,1);
      background-color: $gray-100;
      @include font-scale-mobile(20px,18,true);
      &:hover{
        background-color: $nav-link-hover-color;
      }
      @include media-breakpoint-up(xlarge){
        min-width: rem-calc(160);
      }
    }
    &.is-active{
      button{
        background-color: $nav-tabs-link-active-bg;
        color: $nav-tabs-link-active-color;
      }
    }
  }
  &-content{
    position: relative;
    border: 0;
    box-shadow: $box-shadow;
  }
  &-panel{
    @include spacer(padding,y,5,4);
    @include spacer(padding,x,4);
    > *:last-child{
      margin-bottom: 0;
    }
  }
  // @include media-breakpoint-down(medium){

  // }
}
