
.tabs{
  border: 0;

  &-title{
    button{
      @include spacer(margin,right,1);
      font-weight: $global-weight-bold;
      cursor: pointer;
      color: $tab-color;
      font-size: $tab-item-font-size;
      @include spacer(padding,y,2);
      @include spacer(padding,x,5);
      background-color: $lightest-gray;
      &:hover{
        background-color: $tab-item-background-hover;
      }
      @include breakpoint(xlarge){
        min-width: rem-calc(160);
      }
    }
    &.is-active{
      button{
        background-color: $tab-background-active;
        color: $tab-active-color;
      }
    }
  }
  &-content{
    position: relative;
    border: 0;
    box-shadow: $global-box-shadow;
  }
  &-panel{
    @include spacer(padding,y,5);
    @include spacer(padding,x,4);
    > *:last-child{
      margin-bottom: 0;
    }
  }
  @include breakpoint(medium down){
    display: flex;
    &-title{
      button{
        font-size: rem-calc(16);
        @include spacer(padding,x,2);
      }
    }
  }
}
