.helper{
  font-size: rem-calc(14);
}

.label{
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  color: $medium-gray;
  font-size: rem-calc(14);
  letter-spacing: 1px;
}


.large-value{
  font-family: $secondaryFontFamily;
  font-size: rem-calc(64);
  line-height: 1.2;
  font-weight: $global-weight-bold;
  @include breakpoint(xlarge){
    font-size: rem-calc(100);
  }
}

.meta{
  font-weight: $global-weight-bold;
}

.divider{
  display: inline-block;
  margin: rem-calc(0 10);
  &:after{
    content: "|";
  }
}

.date{
  background-color: $primary-color;
  color: $white;
  font-weight: bold;
  text-align: center;
  padding: rem-calc(10 10);
  line-height: 1.2;
  text-transform: uppercase;
  font-size: rem-calc(20);
  &_month{
    font-size: rem-calc(13);
  }
}


.flag{
  background-color: $light-gray;
  padding: rem-calc(2 10);
  text-transform: uppercase;
  font-size: rem-calc(13);
  font-weight: bold;
  border: 1px solid $medium-gray;
}
