.helper{
  font-size: rem-calc(14);
}

.label, .flag{
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  color: $medium-gray;
  font-size: rem-calc(14);
  letter-spacing: 1px;
}

$large-value-size: 100;
.large-value{
  font-family: $secondaryFontFamily;
  line-height: 1.2;
  font-weight: $global-weight-bold;
  font-size: rem-calc(100);
  @include font-scale-mobile(100);
}

.meta{
  font-weight: $global-weight-bold;
}

.divider{
  display: inline-block;
  margin: rem-calc(0 10);
  &:after{
    content: "|";
  }
}


.date{

  background-color: $primary-color;
  color: $white;
  font-weight: bold;
  text-align: center;
  padding: rem-calc(8 10 6);
  line-height: 1;
  text-transform: uppercase;
  font-size: rem-calc(32);
  &_month{
    font-size: rem-calc(14);
    letter-spacing: 1px;
  }
}


.wrapper{
  position: relative;
  > .date{
    position: absolute;
    top: 0;
    left: 0;
  }
}


.flag{
  //@include .label();
  background-color: $white;
  padding: rem-calc(7 9);
  //text-transform: uppercase;
  //font-size: rem-calc(13);
  //font-weight: bold;
  color: $medium-gray;
  border: 1px solid $light-gray;
}


.lead{
  @include font-scale-mobile($lead-font-size, 20);
}
