.video{
  &-wrapper{
    .youtube-player{
      opacity: 0;
    }
    .video{
      &-image{
        &-wrapper{
          width: 100%;
          position: relative;
        }
        display: block;
        width: 100%;
      }
      &-container{
        position: absolute;
        overflow: hidden;
        background-color:$black;
        left: 0;
        top: 0%;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -2;
      }

    }
    &.is-initialized.is-playing{
      .youtube-player{
        opacity: 1;
        transition: 1s opacity;
      }
      .video-image-wrapper{
        opacity: 0;
        transition: 1s opacity 0.25s;

      }
    }
    &[data-video-trigger="background"]{
      position: relative;
      .youtube-player{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
    &[data-video-trigger="scroll"]{
      position: relative;


      .video{

        &-image{
          &-wrapper{
            &:before, &:after{
              content: "";
              display: block;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
            }
            &:before{
              @include triangle(40px 30px, $black, right);
              z-index: 1;
              margin-left: rem-calc(5);
            }
            &:after{
              width: rem-calc(80);
              height: rem-calc(80);
              background-color: $white;
              border-radius: 100%;
            }
          }
        }
        &-container{
          position: absolute;
          overflow: hidden;
          background-color:$black;
          left: 0;
          top: 0%;
          width: 100%;
          height: 100%;
          display: block;
          z-index: -2;
        }

      }
    }
  }


}
