{% set slider_id = 'slider-full' %}
{% embed '@components/sections/section.twig' with {
  section_background_slick: slider_id
} %}
  {% block section_content %}

    {% set slides = [
      {
        title: 'Slide 1',
        background_image: {
          src: '//via.placeholder.com/1920x1080/ff0000',
          alt: ''
        },
        tab: 'Tab 1',
        background_image: {
          src: '//via.placeholder.com/1920x1080/0000ff',
          alt: ''
        },
        description: 'test'
      },
      {
        title: 'Slide 1',
        background_image: {
          src: '//via.placeholder.com/1920x1080/00ff00',
          alt: ''
        },
        tab: 'Tab 1',
        description: 'test'
      },
      {
        title: 'Slide 1',
        background_image: {
          src: '//via.placeholder.com/1920x1080/33ff00',
          alt: ''
        },
        tab: 'Tab 1',
        description: 'test'
      }
    ] %}
    {% embed '@components/containers/slick.twig' with {
      modifier: 'full',
      id: slider_id,
      grid: true,
      pause: true,
      equalize: true,
      slick_tabs: true
    }%}
      {% block slide_content %}
        {% for slide in slides %}
          <div data-slick-background="{{ slide.background_image.src | default }}">
            <h2>{{ slide.title }}</h2>
            <p>{{ slide.description }}</p>
          </div>
        {% endfor %}
      {% endblock %}
    {% endembed %}

  <div class="slick_progress" data-slick="{{ slider_id | default }}">
    <div class="slick_progress_line"></div>
  </div>
  {% endblock %}
{% endembed %}
