{% embed '@components/containers/slick/slick.twig' with {
    peekaboo: true,
    modifier: 'center',

  }%}
  {% block slide_content %}
      {% for card in cards %}
        {% set card = card | merge({          
          lazyload_attr: 'data-lazy',
          class: 'w-full relative',
          modifier: "special"
        }) %}
                
        <div class="{{ loop.index == (cards|length / 2)|round(1, 'floor')  ? 'slick-animate ' : '' }} lg:mx-2 my-2">
          {% include "@components/teasers/card/card.twig" with card only
          %}
        </div>
      {% endfor %}
  {% endblock %}
{% endembed %}
