// Import site utilities.
@import '../../global/utils/init';

.breadcrumb {
  a {
    text-decoration: none;
    color: $color-admin-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}
