@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?nrtdkt');
  src:  url('/fonts/icomoon.eot?nrtdkt#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?nrtdkt') format('truetype'),
    url('/fonts/icomoon.woff?nrtdkt') format('woff'),
    url('/fonts/icomoon.svg?nrtdkt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quotes-left:before {
  content: "\e900";
}
.icon-search:before {
  content: "\f002";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-home:before {
  content: "\f015";
}
.icon-book:before {
  content: "\f02d";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-edit:before {
  content: "\f044";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-comment:before {
  content: "\f075";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-comments:before {
  content: "\f086";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-question:before {
  content: "\f128";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-user-circle:before {
  content: "\f2bd";
}
