  <fieldset class="options">
    <legend>{{ label }} {% if required | default %}<span class="form-required">*</span>{% endif %}</legend>
    <ul class="checkbox-group no-bullet">
      {% for option in options %}
        <li>{% include '@components/forms/checkbox.twig' with {
         field_id: id,
         value: option.value,
         name: name,
         label: option.label
        } only %}</li>
      {% endfor %}
    </ul>
    {% if required %}
      <span class="form-error">{{ label }} is required</span>
    {% endif %}
  </fieldset>
