<form action="" data-abide novalidate>
  {% include '../forms/text.twig' with {
      label: "Text",
      name: "text",
      id: "field_id_3",
      placeholder: "Prompt Text",
      required: true
    } %}
  {% include '../forms/textarea.twig' with {
      label: "Textarea",
      name: "textarea",
      id: "field_id_2",
      placeholder: "Prompt Text",
      required: true
    } %}

  {% set select_options = {
    "required": true,
    "label": "Select",
    "field_id": "select_validation",
    "field_name": "select",
    "options": [
      {
        "label": "Select A",
        "value": 0
      },
      {
        "label": "Select B",
        "value": 1
      },
      {
        "label": "Select C",
        "value": 2
      }
    ]
  } %}
  {% include '../forms/select.twig' with select_options
  %}

  {% set select_options = select_options | merge({"selectize": true, "label": "Select (Filterable)" }) %}

  {% include '../forms/select.twig' with select_options
  only
  %}
  {% include '../forms/radio-group.twig' with {
    "required": true,
    "label": "Radio",
    "field_id": "radio_validation",
    "field_name": "radio",
    "options": [
      {
        "label": "Radio A",
        "value": 0
      },
      {
        "label": "Radio B",
        "value": 1
      },
      {
        "label": "Radio C",
        "value": 2
      }
    ]
  }
  %}


  {% include '../forms/checkbox-group.twig' with {
      "label": "Checkbox",
      "field_id": "checkbox_validation",
      required: true,
      "field_name": "checkbox",
      "options": [
        {
          "label": "Checkbox A",
          "value": 0
        },
        {
          "label": "Checkbox B",
          "value": 1
        },
        {
          "label": "Checkbox C",
          "value": 2
        }
      ]
    }

    %}
  <ul class="inline-list inline-list--stacked">
    <li><button type="submit" class="button">Submit</button></li>
    <li><button type="submit" class="button" disabled>Disabled button</button></li>
  </ul>



</form>
