@tailwind base;

@layer base {

    /* .l-skip {
        @apply sr-only;
    } */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply mb-4 font-bold;
    }

    h1,
    .h1 {
        @apply text-3xl md:text-6xl;

    }

    h2,
    .h2 {
        @apply text-3xl md:text-3xl;
        &:not(:first-child){
            @apply md:mt-10;
        }
    }

    h3,
    .h3 {
        @apply text-2xl md:text-2xl;
    }

    h4,
    .h4 {
        /* @apply text-sm; */
    }

    h5,
    .h5 {
        @apply text-sm uppercase tracking-wider;
    }

    h6,
    .h6 {
        @apply text-xs;
    }

    hr {
        @apply my-8;
    }

    p {
        @apply mb-8;
    }

    p:last-child {
        @apply mb-0;
    }


    a {
        @apply text-primary underline inline-block;

        &:hover,
        &:focus-visible {
            @apply no-underline;
        }

        .text-white &:not([class*='text-']):not(.button) {
            @apply text-inherit
        }
    }


    figure {
        @apply mb-8;

        img {
            @apply w-full;
        }

        figcaption {
            @apply font-bold mt-2 text-sm;
        }
    }

    table {
        @apply w-full mb-5;

        caption {
            @apply font-bold text-lg mb-2;
        }

        thead {
            @apply bg-primary text-white;
        }

        th,
        td {
            @apply p-2 text-left
        }

        tr {
            &:nth-child(even) {
                @apply bg-primary-100;
            }
        }
    }

    iframe,
    img {
        @apply max-w-full;
    }


    ul,
    ol {
        &:not(.list-none) {
            @apply mb-8 pl-4;

            li {
                &:not(:last-child) {
                    @apply mb-2;
                }
            }
        }
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
        /* ol{
            @apply list-lower-alpha;            
        } */

    }

    blockquote {
        @apply border-l-8 border-primary pl-6 mb-8 text-xl;

        p {
            &:before {
                content: '\201C';
            }

            &:not(:last-child) {
                @apply mb-4;
            }
        }

        cite {
            @apply block font-bold text-sm;

            &:before {
                content: '-';
                @apply mr-1;
            }
        }
    }


    .button {
        @apply text-white bg-primary px-8 py-3 no-underline font-bold;

        &:hover,
        &:focus-visible {
            @apply bg-primary-700
        }

        p+& {
            @apply -mt-4;
        }

        &[disabled] {
            @apply bg-gray-200 text-gray-700;
        }
    }

    .button.secondary {
        @apply bg-secondary text-black;

        &:hover,
        &:focus-visible {
            @apply bg-secondary-700
        }
    }

    .read-more {
        @apply font-bold no-underline;

        &:after {
            font-family: 'icomoon';
            content: "\f054";
            @apply ml-2 text-xs;
        }

        &:hover,
        &:focus-visible {
            @apply underline;
        }

        &.text-2xl {
            &:after {
                @apply text-lg;
            }
        }
    }

    label,
    legend {
        @apply block font-bold mb-2;

        input[type="radio"]+&,
        input[type="checkbox"]+& {
            @apply inline-block font-normal;
        }

    }



}

@tailwind components;

@layer components {


    [type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select{
        @apply border-gray-200;
    }
    /* Custom checkbox and radio styles */
    .custom,
    .fui-input {
        @apply opacity-0 absolute;


        +label {
            @apply ml-0 font-normal relative pl-[28px];

            &:before,
            &:after {
                @apply absolute content-[''] top-0 left-0;
            }

            &:before {
                @apply border-2 border-primary h-[16px] w-[16px] top-[8px] bg-white;
            }

            &:hover,
            &:focus {
                @apply cursor-pointer underline;

                &:before {
                    @apply border-primary;
                }
            }
        }

        &:checked {
            +label {                
                &:after {
                    @apply !opacity-100;
                }
            }
        }
    }


    input[type="checkbox"].custom,
    input[type="checkbox"].fui-input {
        
            &+label {
                &:after {
                    @apply absolute left-[2px] top-[6px] text-white font-normal opacity-0 content-['\f00c'] font-icomoon text-[12px];
                }
            }

            &:checked {
                &+label {
                    &:before {
                        @apply bg-primary border-primary;
                    }
                }
            }
        
    }

    input[type="radio"].custom,
    input[type="radio"].fui-input {
        
            &+label {
                &:after {
                    @apply opacity-0 bg-primary h-[8px] w-[8px] top-[12px] left-[4px];
                }

                &:before,
                &:after {
                    @apply rounded-full;
                }
            }
        
    }

    input[type="radio"]:focus:not(:checked).custom,
    input[type="checkbox"]:focus:not(:checked).custom {
        
            &+label {
                @apply text-primary underline;
            }
        
    }


    .table-scroll {
        @apply w-full mb-3;
        /* Adjust mb based on rem-calc(15) */
    }

    @media (max-width: 639px) {

        /* Small breakpoint */
        .table-scroll {
            @apply pb-1 overflow-x-scroll overflow-y-hidden relative max-w-none;
        }

        .table-scroll table {
            @apply min-w-[150%] -ml-1;
        }

        .table-scroll_wrapper {
            @apply relative;

            &::before,
            &::after {
                @apply absolute content-[''];
            }

            &::after {
                @apply w-[35px] h-[160%] right-0 top-[-30%] opacity-100 transition-opacity duration-300 z-10;
                background: radial-gradient(at right, rgba(0,0,0,0.4) 0%,  rgba(0,0,0,0) 50%);
            }

            &::before {
                @apply right-0;
            }

            &.is-end::after {
                @apply opacity-0;
            }

            &::before {
                @apply top-0 h-[calc(100%-5rem)] bg-gray-100 z-10 w-px;
            }
        }
    }

    @media (min-width: 640px) {

        /* Large breakpoint */
        .table-scroll {
            @apply mb-10;
            /* Adjust mb based on rem-calc(40) */
        }
    }

    .table-scroll table {
        @apply w-full mb-0;
    }


    .slick-nav {
        .slick-dots {
            li {
                &.slick-active {
                    button {
                        @apply bg-white;
                    }
                }
            }
        }
    }

    .section:not(.section--tight) {
        .section:not(.section--tight):not([class*=bg-])+&:not([class*=bg-]) {
            @apply lg:-mt-10;
        }
    }


    @media screen(lg) {
        .js-slick--center {
            --slide-width: 500px;
            --slide-width-curr: 700px;
            display: none;

            .slick-slide {
                width: var(--slide-width);
                margin: 60px 0;
                padding: 10px 50px;

                &,
                .card_section {
                    transition: all 0.3s;
                }

                .card_summary {
                    display: none;
                }

                &.slick-current.slick-animate {
                    /* margin: 5px; */
                    @apply z-20 relative;
                    margin: 0;
                    margin-left: -100px;
                    margin-right: -100px;
                    width: var(--slide-width-curr);

                    .card {
                        @apply shadow-lg bg-primary text-white;

                        a:not(.button) {
                            @apply text-inherit;
                        }
                    }

                    .card_summary {
                        display: block;
                    }

                    .card_section {
                        @apply p-6;
                    }
                }
            }
        }
    }
}

@tailwind utilities;



/* add the code bellow */
@layer utilities {

    .font-icomoon {
        font-family: 'icomoon';
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}