@tailwind base;
@layer base {

    .l-skip{
        @apply sr-only;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
        @apply mb-4 font-bold;
    }
    h1, .h1 {
        @apply text-3xl md:text-6xl;
        
    }
    h2, .h2 {
        @apply text-3xl md:text-4xl;
    }
    h3, .h3 {
        @apply text-2xl md:text-3xl;
    }

    h4, .h4 {
        @apply text-sm;
    }

    h5, .h5 {
        @apply text-xs uppercase tracking-wider;
    }

    h6, .h6 {
        @apply text-xs;
    }

    hr{
        @apply my-8;
    }

    p{
        @apply mb-8;
    } 

    p:last-child{
        @apply mb-0;        
    }
    

    a {
      @apply text-primary underline inline-block;
      &:hover, &:focus-visible{
        @apply no-underline;
      }

      .text-white &:not([class*='text-']){
        @apply text-inherit
      }
    }

    .button{
        @apply text-white bg-primary px-8 py-3 no-underline font-bold;
        &:hover, &:focus-visible{
            @apply bg-primary-700
        }

        p + &{
            @apply -mt-4;
        }
    }

    .button.secondary{
        @apply bg-secondary text-black;
        &:hover, &:focus-visible{
            @apply bg-secondary-700
        }
    } 

    .read-more{
        @apply font-bold no-underline;
        &:after{
            @apply content-[''];            
            @apply ml-2;
        }
        &:hover, &:focus-visible{
            @apply underline;
        }
    }

    table{
        @apply w-full mb-5;
        thead{
            @apply bg-primary text-white;
        }

        th, td{
            @apply p-2 text-left
        }

        tr{
            &:nth-child(even){
                @apply bg-primary-100;
            }
        }
    }
    

    ul, ol{
        &:not(.list-none){
            @apply mb-8 pl-4;
            li{
                &:not(:last-child){
                    @apply mb-2;
                }
            }
        }        
    }

    ul{
        @apply list-disc;
    }

    ol{
        @apply list-decimal;
        /* ol{
            @apply list-lower-alpha;            
        } */
        
    }

    blockquote{
        @apply border-l-8 border-primary pl-6 mb-4 text-xl;
        p{
            &:before{
                content: '\201C';
            }
            &:not(:last-child){
                @apply mb-4;
            }
        }
        
        cite{
            @apply block font-bold text-sm;
            &:before{
                content: '-';
                @apply mr-1;
            }
        }
    }

    /* label, legend{
        @apply block font-bold mb-2;
    } */

    /* .slick-nav{
        .slick-dots{
            @apply mb-0 mx-8 pl-0 flex justify-center gap-x-5;
            li{
                @apply mb-0;
                button{
                    @apply w-6 h-6 rounded-full bg-primary border-2 border-primary;
                }
            }
        }
    } */
    @media screen(md){
        .js-slick--center{        
            display: none;
            .slick-slide{
                width: 500px;
                margin: 55px 0;
                padding: 10px 50px;
                transition: all 0.3s;
                &.slick-current.slick-animate{
                    /* margin: 5px; */
                    @apply z-20 relative;
                    margin: 0;
                    margin-left: -100px;
                    margin-right: -100px;
                    width: 700px;
                    .card{
                        @apply shadow-lg bg-primary text-white;                        
                        a:not(.button){
                            @apply text-inherit;
                        }                        
                    }
                    /* .card_section{
                        @apply p-6;
                    } */
                }
            }
        }
    }

  }  
@tailwind components;
@tailwind utilities;
