

  {% embed '@components/containers/splide/splide.twig' with {
    type: 'cards',    
    equalize: true,    
  } %}
    {% block slide_content %}
      {% for card in cards %}
        <div class="splide__slide">
          {% set card = card | merge({
            lazyload_attr: 'data-splide-lazy',
            class: 'w-full',
          }) %}
          {% include "@components/teasers/card/card.twig" with card only %}
        </div>
      {% endfor %}
    {% endblock %}
  {% endembed %}

