<div class="splide-nav flex justify-center items-center mt-4 md:mt-8 {{ splide_nav_class | default }} {% if inline | default%}splide-nav--inline{% endif %}">
  {% if pause | default %}
    <button class="js-splide-toggle splide-toggle">
      <span class="sr-only">Toggle Pause/Play</span>
      <span class="icon-pause active"></span>
      <span class="icon-play inactive"></span>
    </button>
  {% endif %}
</div>
