<div class="slick-nav mt-4 md:mt-8 {{ slick_nav_class | default }} {% if inline | default%}slick-nav--inline{% endif %}">
  {% if pause | default %}
    <button class="js-slick-toggle slick-toggle">
      <span class="sr-only">Toggle Pause/Play</span>
      <span class="icon-pause active"></span>
      <span class="icon-play inactive"></span>
    </button>
  {% endif %}
</div>
