<a href="{{ url }}" aria-label="{{ direction }} page" class="no-underline aspect-square bg-primary hover:bg-primary-700 text-white rounded-full w-10 flex items-center justify-center arrow arrow--prev" >
    <span class="sr-only">{{ direction }} page</span>
    <span class="{{ direction == 'left' ? 'icon-chevron-left' : 'icon-chevron-right' }}"></span>
</a>