<header class="l-header">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-4">Header</div>
      <div class="cell medium-8">
        {% include 'components/navigation/menu.twig' %}
      </div>
    </div>
  </div>
</header>
