<time class="date font-bold flex flex-col items-center bg-primary text-white py-2 {{ class | default }}" datetime="{{ unformatted }}">
  <div class="date_month">{{ month_short }}</div>
  <div class="date_day">{{ day }}</div>
</time>
