<time class="date font-bold flex flex-col leading-2 items-center bg-primary text-white py-1 px-2 w-14 {{ class | default }}" datetime="{{ unformatted }}">
  <div class="date_month uppercase">{{ month_short }}</div>
  <div class="date_day text-3xl -mt-1">{{ day }}</div>
</time>
