<article class="card {{modifier_class}}{{ classes|default('') }}">

  <div class="card__media">
    {%
      include '@components/media/media.twig' with {
        "image": card.media.image,
        "video": card.media.video,
      } only
    %}
  </div>

  <div class="card__content">
    {% if card.eyebrow %}
      {%
        include '@components/eyebrow/eyebrow.twig' with {
          "text": card.eyebrow.text,
          "classes": card.eyebrow.classes,
        } only
      %}
    {% endif %}

    {%
      include '@components/heading/heading.twig' with {
        "url": card.heading.url,
        "title": card.heading.title,
        "heading_level": card.heading.heading_level,
        "classes": card.heading.classes
      } only
    %}

    {% if card.subhead %}
      {%
        include '@components/heading/heading.twig' with {
          "title": card.subhead.title,
          "heading_level": card.subhead.heading_level,
          "classes": card.subhead.classes
        } only
      %}
    {% endif %}

    {% if card.text %}
      {%
        include '@components/body/body.twig' with {
          "body": card.text,
        } only
      %}
    {% endif %}

    {% if card.link %}
      <a href="{{ card.link.url }}" class="card__link">{{ card.link.text }}</a>
    {% endif %}
  </div>

</article>
