
<div class="grid-container">
  {% embed 'components/containers/_slick.twig' with {
    pausable: true,
    slick_class: 'slick-slider--equalize'
  } %}
    {% block slide_content %}
      {% for slide in slides %}
          <div>
            {% include 'components/informational/testimonial.twig' with {
              quote: slide.quote,
              attribution: slide.attribution,
              testimonial_image: slide.testimonial_image
            }%}
          </div>
        {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
