
<div class="grid-container">
  {% embed 'components/containers/_slick.twig' with {
    slick_class: 'slick-slider--equalize'
  } %}
    {% block slide_content %}
      {% for slide in slides %}
          <div>
            {% include 'components/teasers/card-testimonial.twig' with {
              card: {
                "image": {
                    "src": "https://source.unsplash.com/9wg5jCEPBsw/400x400",
                    "alt": "Alt Text"
                  },
                lazyload_class: 'data-lazy',
                quote: slide.quote,
                attribution: slide.attribution,

              }
            }%}
          </div>
        {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
