<ul class="list-none inline-flex gap-2 mb-0 social-media">
  {% for item in social | default %}
      <li>
        <a href="{{ item.url }}" target="_blank" class="icon icon--circle">
          <span class="sr-only">{{ item.handle }}</span>
          <span class="icon-{{ item.handle }}"></span>
        </a>
      </li>
  {% endfor %}
  </ul>
