<div></div><!-- to prevent :first-child styling in style guide -->

{% embed 'components/sections/section.twig' with {
  class: "bg-gradient-secondary-lightest",
  section_heading: "Section with Gradient Secondary Background",
  section_description: "Can be any of the brand colors",
}%}
  {% block section_content %}
    <div class="pl-placeholder">Section Content goes here</div>
  {% endblock %}
{% endembed %}

{% embed 'components/sections/section.twig' with {
  class: "section--tight",
  intro_class: "text-center",
  section_heading: "Section Tight",
  section_description: "Intro area can have alignment classes",
  style: "narrow"
}%}

  {% block section_content %}
    <div class="pl-placeholder">Section Content goes here</div>
  {% endblock %}
{% endembed %}
<div class="pl-placeholder">
  Divider to show division between sections
</div>
{% embed 'components/sections/section.twig' with {
  class: "bg-gradient-primary-lightest",
  section_heading: "Section with Gradient Primary Background",
  section_description: "Section content widths can be narrower, narrow, or regular.",
  style: "narrower"
}%}

  {% block section_content %}
    <div class="pl-placeholder">Section Content goes here</div>
  {% endblock %}
{% endembed %}
<div></div><!-- to prevent :last-child styling in style guide -->
