{% embed '@components/sections/section.twig' with {
  padding: 'tight',
  section_class: "section--form " ~ section_class | default,
  section_style: "narrower"
} %}
  {% block section_content %}
    <h2>Heading Level 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    {% include '@components/forms/validation/validation.twig' %}
  {% endblock %}
{% endembed %}
