{% extends 'pages/wrapper.twig' %}
{% block top %}
  {% include "components/containers/hero.twig" %}
{% endblock %}
{% block main %}
  {% include 'components/modules/wysiwyg.twig' %}
  {% include 'components/modules/video.twig'
    with {
      "trigger": "click",
      "youtube": "gJ6APKIjFQY",
      "image": {
        "src": "//via.placeholder.com/900x500",
        "alt": ""
      }
    }

  %}
  {% include 'components/modules/contact.twig' with {
      link: read_more
    }
  %}

  {% include 'components/modules/accordion.twig' with {items: items} only %}

  {% include 'components/modules/accordion.twig' with {items: items, modifier: "steps"} only %}
  {% include 'components/modules/accordion.twig' with {
  items:
    [
      {
        "heading": "Curabitur aliquet quam id dui posuere blandit.",
        "content": "<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>",
        "accordion_instance": "1",
        "icon": "fas fa-bell"
      },
      {
        "heading": "Curabitur aliquet quam",
        "content": "<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>",
        "accordion_instance": "2",
        "icon": "fas fa-bell"
      },
      {
        "heading": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras pulvinar?",
        "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est sit amet facilisis magna etiam tempor orci. Auctor eu augue ut lectus arcu bibendum at varius. Risus ultricies tristique nulla aliquet enim tortor at auctor.</p>",
        "accordion_instance": "3",
        "icon": "fas fa-bell"
      }
    ]} only %}





  {% include 'components/modules/horizontal-card.twig' with {
    heading: "Heading",
    image: {
      src: "https://source.unsplash.com/9wg5jCEPBsw/630x400",
      alt: "Alt Text"
    },
    summary: summary,
    link: read_more
  } %}
  {% include 'components/modules/horizontal-card.twig' with {
    heading: "Another Horizontal Card",
    image: {
      src: "https://source.unsplash.com/9wg5jCEPBsw/630x400",
      alt: "Alt Text"
    },
    summary: summary,
    link: read_more
  } %}
  {% include 'components/modules/testimonial.twig' %}
  {% include 'components/modules/tabs.twig' %}
  {% include 'components/modules/cta.twig' with {

      "section_heading": "Default CTA",
      "section_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas urna in mauris dictum porta. Integer quis diam finibus, mattis dui quis, rhoncus orci. Nunc consequat, urna eget feugiat cursus, erat dolor vehicula nibh, et eleifend quam lorem at purus.",
      "section_button": {
        "url": "#",
        "text": "Text"
      }
    }

  %}
  {% include 'components/modules/cta.twig' with {
      "section_background": {
        "src": "https://source.unsplash.com/9wg5jCEPBsw/1440x360"
      },
      "section_heading": "Default CTA",
      "section_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas urna in mauris dictum porta. Integer quis diam finibus, mattis dui quis, rhoncus orci. Nunc consequat, urna eget feugiat cursus, erat dolor vehicula nibh, et eleifend quam lorem at purus.",
      "section_button": {
        "url": "#",
        "text": "Text"
      }
    }
   %}
  {% include 'components/modules/cta.twig' with {
      "section_image": {
        "src": "https://source.unsplash.com/9wg5jCEPBsw/630x400",
        "alt": ""
      },
      "section_heading": "Default CTA",
      "section_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas urna in mauris dictum porta. Integer quis diam finibus, mattis dui quis, rhoncus orci. Nunc consequat, urna eget feugiat cursus, erat dolor vehicula nibh, et eleifend quam lorem at purus.",
      "section_button": {
        "url": "#",
        "text": "Text"
      }
    }
   %}
  {% include 'components/modules/card-carousel.twig' with {
    section_class: 'bg-gradient-secondary'
  } %} {# three up #}
  {% include 'components/modules/card-carousel.twig' with
      {
      "cards": [
        {
          "type": {
            "handle": "event",
            "label": "Events"
          },

          "flag": "Test",
          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          },
          "date": {
            "month_short": "Dec",
            "day": 20,
            "full": "December 20, 2020"
          }
        },
          {
          "type": {
            "handle": "event",
            "label": "Events"
          },

          "members_only": false,
          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Another line here to show multiple lines",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          },
          "date": {
            "month_short": "Dec",
            "day": 20,
            "full": "December 20, 2020"
          }
        },
          {
          "type": {
            "handle": "event",
            "label": "Events"
          },

          "members_only": false,
          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          },
          "date": {
            "month_short": "Dec",
            "day": 20,
            "full": "December 20, 2020"
          }
        }
      ]
    }

   %}

  {% include 'components/modules/card-carousel.twig' with {
    section_class: "bg-light-primary",
    "cards":
    [
      {
        "card": {

          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Phasellus auctor, turpis",
            "level": "3",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          }
        }
      },
      {
        "card": {

          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Phasellus auctor, turpis",
            "level": "3",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          }
        }
      },
      {
        "card": {

          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Phasellus auctor, turpis",
            "level": "3",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          }
        }
      },
      {
        "card": {

          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Phasellus auctor, turpis",
            "level": "3",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          }
        }
      },
      {
        "card": {

          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/430x230",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Phasellus auctor, turpis",
            "level": "3",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          }
        }
      }

    ]

  } %}

  {% include 'components/modules/testimonial-carousel.twig' %}

  {% include 'components/modules/card-carousel-center.twig' with {
    section_class: "bg-gradient-secondary",
    "cards": [
      {

        "image": {
          "src": "https://source.unsplash.com/9wg5jCEPBsw/630x400",
          "alt": "Alt Text"
        },
        "heading": {
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          "url": "#"
        },
        "link": {
          "url": "#",
          "text":"Optional Link"
        }
      },
        {

        "image": {
          "src": "https://source.unsplash.com/9wg5jCEPBsw/630x400",
          "alt": "Alt Text"
        },
        "heading": {
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Another line here to show multiple lines",
          "url": "#"
        },
        "link": {
          "url": "#",
          "text":"Optional Link"
        }
      },
        {

        "image": {
          "src": "https://source.unsplash.com/9wg5jCEPBsw/630x400",
          "alt": "Alt Text"
        },
        "heading": {
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
          "url": "#"
        },
        "link": {
          "url": "#",
          "text":"Optional Link"
        }
      }
    ]



  } %}

  {% include 'components/modules/step-list.twig' %}

  {% include 'components/modules/statistics.twig' with {
    section_class: "bg-light-primary"
   } %}
  {% include 'components/modules/statistics.twig' with {
    style: "side",
    section_button: read_more
  } %}
  {% include 'components/modules/links.twig' with {
    section_class: "bg-gradient-secondary"
  } %}
{% endblock %}
