<div class="listing">
  {% for item in list %}
    <div class="item">
      <h2><a href="{{ item.url }}">{{ item.heading }}</a></h2>
      {% if item.label | default %}<p class="label m-b-1">{{ item.label }}</p>{% endif %}
      <p class="m-b-1">{{ item.summary }}</p>
      {% if item.categories | length %}
       {% include 'components/inline/meta.twig' with {
          date: category.date,
          categories: [
              {
                url: category.url,
                text: category.title
              }
          ]

        } %}

      {% endif %}
    </div>
  {% endfor %}
</div>
