<div class="video-wrapper" data-video-trigger="{{ trigger }}">
    <div class="video-loader">
      {% include 'components/utils/loader.twig' %}
    </div>
    <div class="video-image-wrapper">
      <img data-src="{{ image.src }}" alt="{{ image.alt }}" class="video-image js-lazy">
    </div>
    <div class="video-container">
      <div class="youtube-wrapper">
        <div class="youtube-player" data-youtube-id="{{ youtube }}"></div>
      </div>
    </div>
  </div>
