{% extends 'pages/_wrapper.twig' %}

{% block main %}
  {% include "components/containers/hero.twig" %}
  {% embed "components/modules/wysiwyg.twig" %}
    {% block section_content %}
      <h2>Heading Level 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    {% endblock %}
  {% endembed %}
  {% include "components/modules/form.twig" %}

{% endblock %}
