<div class="video-wrapper" data-video-trigger="{{ trigger }}">
    <div class="video-loader">
      {% include 'components/utils/loader.twig' %}
    </div>
    <div class="video-image-wrapper">
      <img src="//via.placeholder.com/1777x1000" alt="" class="video-image">
    </div>
    <div class="video-container">
      <div class="youtube-wrapper">
        <div class="youtube-player" data-youtube-id="gJ6APKIjFQY"></div>
      </div>
    </div>
  </div>
