<div class="bg-primary text-white px-3 py-3 lg:px-5">
    Test
</div>
<div class="bg-primary bg-gradient-secondary bg-gradient--down mt-n3 font-secondary text-white px-3 py-3 lg:px-5">
    <div class="flex gap-x-2 items-center lg:gap-x-4">
        <h2 class="position-relative z-1 font-bold text-xxlarge mb-0">
            Test
        </h2>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium iure excepturi quam, illo cum, rerum suscipit sint ipsa nobis adipisci animi dolorum. Porro fuga facere ea sed dicta. Unde, officiis?
            <button class="d-block border-1 bg-white p-1 mt-05">Button here</button>
        </div>
    </div>
</div>