{{ attach_library('demo_theme/promo') }}

<article class="promo{{ classes|default('') }}">

  <div class="promo__media">
    {{ image }}
  </div>
  
  <div class="promo__content">
    <header>
      {%
        include '@demo_theme/eyebrow/eyebrow.twig' with {
          "text": eyebrow,
          "classes": " promo__eyebrow",
        } only
      %}
      {%
        include '@demo_theme/heading/heading.twig' with {
          "title": title,
          "heading_level": 2,
          "classes": "promo__headline",
        } only
      %}
      {%
        include '@demo_theme/heading/heading.twig' with {
          "title": title,
          "heading_level": 3,
          "classes": "promo__subhead",
        } only
      %}
    </header>

    <body>
      {%
        include '@demo_theme/body/body.twig' with {
          "body": body,
        } only
      %}
    </body>

    <footer>
      <a class="promo__link" href="#">Optional Link</a>
    </footer>
  </div>

</article>
