
  <form {% if action | default %}action="{{ action }}"{% endif %} {% if ajax | default %}class="js-ajax"{% endif %}>
    {% embed 'components/forms/form-group.twig' %}
      {% block form_content %}
        {% if keyword_filter | default %}
          <div class="cell medium-5">
            {% include '../forms/text.twig' with {
              "value": queryParam | default,
              "label": label | default("Keywords"),
              "id": input_id | default("keywords"),
              "placeholder": placeholder | default("Filter by keywords"),
              "name": input_name | default('q')
            }
            %}
          </div>
        {% endif %}
        <div class="cell medium-5 large-4 small-10">
          {% include '../forms/select.twig' with {
            label: category_label | default("Filter by Category"),
            input_class: 'w-100 ' ~ input_class | default,
            id: "category",
            placeholder: category_placeholder | default("Select a Category"),
            name: 'category',
            value: category_selected | default,
            options: categories | default([
              {
                value: 1,
                label: 'Category 1'
              }
            ])
          } only
          %}
        </div>
        {% if ajax | default == false %}
          <div class="cell medium-2">
            <button class="button" type="submit">Search</button>
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}
  </form>
