<ol class="step-list">
  {% for step in steps %}
    <li>
      <h2>Heading</h2>
      <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
      {% include 'components/inline/read-more.twig' %}
    </li>
  {% endfor %}

</ol>
