<p>
  <span class="font-primary">Primary Font override</span><br />
  <span class="font-secondary">Secondary Font override</span>
</p>

<p>
  <span class="fw-bold">Bold font override</span>
</p>
<p>
  <span class="text-small">Small Text</span><br />
  <span class="text-smaller">Smaller Text</span>
</p>
