<h3>Background Colors</h3>

<style>
.bg-swatch{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
</style>

<div class="bg-solid-primary bg-swatch text-white">
  Solid Background (any brand color and variation can be used)
</div>

<div class="bg-light-primary bg-swatch">
  Light Background (any brand color and variation can be used)
</div>
<div class="bg-gradient-primary bg-swatch">
  Gradient Background Horizontal (any brand color and variation can be used)
</div>
<div class="bg-gradient-primary bg-gradient--flip bg-swatch">
  Gradient Background Horizontal - Flipped (any brand color and variation can be used)
</div>
<div class="bg-gradient-secondary-lightest bg-gradient--down bg-swatch">
  Gradient Background Vertical (any brand color and variation can be used)
</div>
<div class="bg-gradient-secondary-lightest bg-gradient--flip bg-gradient--down bg-swatch">
  Gradient Background Vertical - Flipped (any brand color and variation can be used)
</div>

<hr>

<h3>Text Colors</h3>

<p>
  <span class="text-primary">Any brand color and variation can be used</span>
</p>
