{% extends 'pages/_wrapper.twig' %}

{% block main %}
  {% include "components/containers/hero.twig" %}
  {% include 'components/modules/wysiwyg.twig' %}
  {% include 'components/modules/video.twig' %}
  {% include 'components/modules/contact.twig' with {
      "phone": {
        "number": "(###) ### - ####",
        "ext": "###"
      },
      "emails": [
        {
          "value": "example@domain.com",
          "text": "Text"
        },
        {
          "value": "example2@domain.com"
        }
      ],
      "location": "Address here\r\nRoom\r\n"
    }
  %}

  {% include 'components/modules/accordion.twig' with {items: items} only %}

  {% include 'components/modules/accordion.twig' with {items: items, modifier: "icons"} only %}
  {% include 'components/modules/accordion.twig' with {
  items:
    [
      {
        "heading": "Curabitur aliquet quam id dui posuere blandit.",
        "content": "<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>",
        "accordion_instance": "1",
        "icon": "bell"
      },
      {
        "heading": "Curabitur aliquet quam",
        "content": "<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>",
        "accordion_instance": "2",
        "icon": "search"
      },
      {
        "heading": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras pulvinar?",
        "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est sit amet facilisis magna etiam tempor orci. Auctor eu augue ut lectus arcu bibendum at varius. Risus ultricies tristique nulla aliquet enim tortor at auctor.</p>",
        "accordion_instance": "3",
        "icon": "comment"
      }
    ],
    modifier: "icons"} only %}





  {% include 'components/modules/horizontal-card.twig' %}
  {% include 'components/modules/horizontal-card.twig' %}
  {% include 'components/modules/testimonial.twig' %}
  {% include 'components/modules/tabs.twig' %}
  {% include 'components/modules/cta.twig' with {

      "section_heading": "Default CTA",
      "section_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "section_button": {
        "url": "#",
        "text": "Text"
      }
    }

  %}
  {% include 'components/modules/cta.twig' with {
      "section_background": "https://source.unsplash.com/9wg5jCEPBsw/1200x500",
      "section_heading": "Default CTA",
      "section_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "section_button": {
        "url": "#",
        "text": "Text"
      }
    }
   %}
  {% include 'components/modules/cta.twig' with {
      "section_image": {
        "url": "https://source.unsplash.com/9wg5jCEPBsw/632x400",
        "alt": ""
      },
      "section_heading": "Default CTA",
      "section_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      "section_button": {
        "url": "#",
        "text": "Text"
      }
    }
   %}
  {% include 'components/modules/three-up-card.twig' with {
    'class': 'bg-gradient-secondary'
  } %}
  {% include 'components/modules/three-up-card.twig' with
      {
      "cards": [
        {
          "type": {
            "handle": "event",
            "label": "Events"
          },
          "modifier": "",
          "flag": "Test",
          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/406x207",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          },
          "date": {
            "month_short": "Dec",
            "day": 20,
            "full": "December 20, 2020"
          }
        },
          {
          "type": {
            "handle": "event",
            "label": "Events"
          },
          "modifier": "",
          "members_only": false,
          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/406x207",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Another line here to show multiple lines",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          },
          "date": {
            "month_short": "Dec",
            "day": 20,
            "full": "December 20, 2020"
          }
        },
          {
          "type": {
            "handle": "event",
            "label": "Events"
          },
          "modifier": "",
          "members_only": false,
          "image": {
            "src": "https://source.unsplash.com/9wg5jCEPBsw/406x207",
            "alt": "Alt Text"
          },
          "heading": {
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            "url": "#"
          },
          "link": {
            "url": "#",
            "text":"Optional Link"
          },
          "date": {
            "month_short": "Dec",
            "day": 20,
            "full": "December 20, 2020"
          }
        }
      ]
    }

   %}

  {% include 'components/modules/card-carousel.twig' with {
    "class": "bg-light-primary"
  } %}

  {% include 'components/modules/testimonial-carousel.twig' %}

  {% include 'components/modules/card-carousel-center.twig' with {
    "class": "bg-gradient-secondary"
  } %}

  {% include 'components/modules/step-list.twig' %}

  {% include 'components/modules/statistics.twig' with {
    class: "bg-light-primary"
   } %}
  {% include 'components/modules/statistics.twig' with {
    style: "side"
  } %}
  {% include 'components/modules/links.twig' with {
    "class": "bg-gradient-secondary"
  } %}
{% endblock %}
