<div class="card card--horizontal">
  <div class="card-section">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell large-7">
        <h2>{{ contact_heading }}</h2>
        <h3>{{ contact_subheading }}</h3>
        {% if contact_description is not empty %}
          <p class="m-b-3">{{ contact_description }}</p>
        {% endif %}
        {% include 'components/links/read-more.twig' with {
          read_more: {
            "text": "Read More",
            "url": "#"
          }
        } %}
      </div>
      <div class="cell large-5">
        <div class="p-y-3 p-x-4 bg-solid-gray-lightest">
          {% include 'components/informational/listing.twig' with {
          "listing_class": 'm-b-0',
          "items": items
        } %}
        </div>
      </div>
    </div>
  </div>
</div>
