// Import site utilities.
@import '../../global/utils/init';

// Slick overrides
.quote-carousel {
  margin-bottom: 2rem;
}

.quote-carousel__navigation {
  margin-left: auto;
  width: 200px;

  .slick-prev,
  .slick-next {
    height: 50px;
    width: 50px;
    z-index: 1;
    display: inline;
    position: relative;

    &::before {
      color: $color-blue;
      font-size: 48px;
    }
  }

  .slick-prev {
    left: auto;
  }

  .slick-next {
    right: auto;
  }

  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
