// Import site utilities.
@import '../../global/utils/init';

// Slick overrides
.quote-carousel {
  margin-bottom: 2rem;
}

.quote-carousel__navigation {
  margin-left: auto;
  width: 200px;

  @include slick-pager;
}
