{% if anchor_items %}
  <div x-data="stickyAnchor()" x-init="init()" class="sticky top-0 bg-primary-700 text-white w-full z-20" id="anchormenu">
    <div class="container">
      {% set anchor_dropdown = [] %}
      {% for item in anchor_items %}
        {% set anchor_dropdown = anchor_dropdown | merge([{
          value: item.anchor,
          title: item.text
        }]) %}
      {% endfor %}
      <div class="lg:hidden anchormenu_mobile">
        {% include '@components/containers/dropdown/dropdown.twig' with {
            id: 'anchor_mobile',
            label_trigger: true,
            placeholder: 'Select a section',
            label_mobile: 'Jump to',
            items: anchor_dropdown
        } %}
      </div>

      <ul class="list-none gap-5 justify-center lg:flex hidden p-3">
        {% for item in anchor_items %}
          <li :class="{ 'is-active': activeAnchor === '{{ item.anchor }}' }">
            <a href="{{ item.anchor }}" @click.prevent="scrollToSection('{{ item.anchor }}')">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}