<section class="section">
  <div class="grid-container" id="content">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8">
          {% block content %}
            {{ wysiwyg }}
          {% endblock %}
      </div>
      <div class="cell medium-4">
        <div data-sticky data-anchor="content" data-sticky-on="large">
          {% block sidebar %}
            {{ wysiwyg }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</section>
