<div class="l-wrapper no-js">
  {% include "@layout/wrapper/header.twig" %}
  <main class="l-main" id="main">
    {% include '@components/informational/alert/alert.twig' with {
      alert_label: "Alert",
      text: "Important message goes here and is an optional link lorem ipsum dolor sit amet, consectetur adipiscing elit."
    }%}
    <div class="l-top" id="top">
      {% block top %}
      {% endblock %}
    </div>
    <div class="l-body">
      {% block main %}
      {% endblock %}
    </div>
  </main>
  {% include "@layout/wrapper/footer.twig" %}
  {% if cookie | default %}
    {% include '@components/informational/alert/alert.twig' with {
      text: cookie,
      closable: true,
      closable_text: "Accept",
      alert_class: 'alert--sticky'
    }%}
  {% endif %}
</div>
