<div class="l-wrapper no-js" x-data="{backToTop: false}" 
    @scroll.window="backToTop = window.scrollY > 100">

  {% include "@layout/wrapper/header.twig" %}
  <main class="l-main" id="main">
    {% include '@components/informational/alert/alert.twig' with {
      alert_label: "Alert",
      text: "Important message goes here and is an optional link lorem ipsum dolor sit amet, consectetur adipiscing elit."
    }%}
    <div class="l-top" id="top">
      {% block top %}
      {% endblock %}
    </div>
    <div class="l-body">
      {% block main %}
      {% endblock %}
    </div>
  </main>
  {% include "@layout/wrapper/footer.twig" %}
  {% if cookie | default %}
    {% include '@components/informational/alert/alert.twig' with {
      text: cookie,
      closable: true,
      closable_text: "Accept",
      class: 'fixed bottom-0 left-0 z-20 w-full'
    } only %}
  {% endif %}
</div>
