<div class="row grid-margin-x form-group align-bottom">
  {% block form_content %}
    <div class="col col-lg-5 col-md-4">
      {% include patternlab_namespace | default ~ 'components/forms/text.twig' with {
        label: "Text",
        name: "text",
        id: "field_group_1",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    <div class="col col-lg-5 col-md-4">
      {% include patternlab_namespace | default ~ 'components/forms/text.twig' with {
        label: "Text",
        name: "text",
        id: "field_group_2",
        placeholder: "Prompt Text",
        required: true
      } %}
    </div>
    <div class="col col-lg-2 col-md-4">
      <button class="btn" type="submit">Submit</button>
    </div>
  {% endblock %}
</div>
