<section class="carousel__wrapper">
  <ul class="carousel__list carousel__slick">
    {% block carousel_items %}
      {% for item in list %}
        {%
          include '@components/carousel/carousel-item.twig' with {
            "item": item
          } only
        %}
      {% endfor %}
    {% endblock %}
  </ul>
</section>
