
{% for key, value in fonts %}
  {% set font = value | join(', ') %}
  <div class='font-{{ key }}'>
    <h2 class="text-xl mb-0">{{ key | capitalize }}</h2>  
    <div class="mb-3">    
      <span>Default</span><br />
      <em>Italics</em><br />
      <strong>Bold</strong></p>
    </div>
  </div>
{% endfor %}
