<div class="l-wrapper">
  {% include "layout/wrapper/header.twig" %}
  <div class="l-main">
    {% block main %}
    {% endblock %}
  </div>
  {% include "layout/wrapper/footer.twig" %}
  {% if cookie | default %}
    {% include 'components/informational/alert.twig' with {
      text: cookie,
      closable: true,
      closable_text: "Accept",
      alert_class: 'alert--sticky'
    }%}
  {% endif %}
</div>
