

  <button class="button{{ modifier | default ? ' ' ~ modifier }}">
    {{ label | default }}
    {% if icon | default %}
      <i class="icon icon--small icon-{{ icon }}"></i>
    {% endif %}
  </button>

