
<label for="inline">Inline</label>
<div class="flex items-center gap-3">
  <span class="input-group-label">$</span>
  <input id="inline" class="input-group-field" type="number">
  <div class="input-group-button">
    <input type="submit" class="button" value="Submit">
  </div>
</div>


