// Provide default spacing for Rain paragraphs.
body {
  .paragraph--type--text {
    margin-bottom: 30px;
  }

  .paragraph--type--embed,
  .paragraph--type--map,
  .paragraph--type--view,
  .paragraph--type--faq,
  .paragraph--type--quote,
  .paragraph--type--media,
  .paragraph--type--gallery,
  .paragraph--type--gallery-carousel,
  .paragraph--type--hero-media,
  .paragraph--type--card-list,
  .paragraph--type--card {
    margin-bottom: 50px;

    .paragraph--type--card {
      margin-bottom: 0;
    }
  }
}
