{% if value | default and url is not defined %}
  {% set url = value %}
  {% set text = customText %}
{% endif %}
<a href="{{ url }}" {% if targetString | default %}target="{{ targetString }}"{% endif %} class="{{ modifier | default }}">{{ text }}</a>
