{% embed '@components/sections/section.twig' with {
    intro_class: "text-center",
    section_class: section_class | default,
    heading: heading | default,
    description: description | default,
  }
%}

  {% block section_content %}
      <div class="links">

        {% for row in links | batch(3) %}          
            <div class="grid grid-cols-12 {% if loop.last == false %}border-b pb-8{% endif %} {% if loop.first == false %}pt-8{% endif %}">
              {% for link in row %}
                <div class=" md:col-span-4">

                  {% if link | default is not empty %}
                    {%  set link = link | merge({
                      size: "lg"
                    }) %}

                    {% include '@components/links/read-more/read-more.twig' with link only %}
                  {% endif %}

                </div>
              {% endfor %}
            </div>
          
        {% endfor %}
      </div>
  {% endblock %}
{% endembed %}
