{% embed patternlab_namespace | default ~ 'components/containers/slick.twig' with {
    peekaboo: true,
    modifier: 'center'
  }%}
  {% block slide_content %}
      {% for card in cards %}
        {% set card = card | merge({
          lazyload_class: 'data-lazy',
          modifier: "special"
        }) %}
        <div class="{{ loop.first ? 'slick-primary ' : '' }}">
          {% include patternlab_namespace | default ~ "components/teasers/card.twig" with {
              card: card
            }
          %}
        </div>
      {% endfor %}
  {% endblock %}
{% endembed %}
