{% embed 'components/sections/section.twig' with {
    "intro_class": section_description | default ? '' : 'medium-text-center',
    "section_heading": "Three-up Cards Module"
  }
%}
  {% block section_content %}
    {% embed 'components/containers/_slick.twig' with {
      grid: true,
      equalize: true,
      modifier: 'mobile'
    } %}
      {% block slide_content %}
        {% for card in cards %}
          <div class="medium-4 cell">
            {% include 'components/teasers/card.twig' with {
              equalize: true,
              card: card
            }%}
          </div>
        {% endfor %}
      {% endblock %}
    {% endembed %}

  {% endblock %}
{% endembed %}
