
.splide__list {
    @apply transition-all duration-300;
}

.splide__pagination{    

    button{
        @apply bg-primary w-5 aspect-square rounded-full border-2 border-primary;
        &.is-active{
            @apply bg-white;
        }
    }
}


.splide[data-type="center"] {
    --slide-width: 500px;
    --slide-width-curr: 700px;

    .splide__slide .card {
        @apply w-[90vw];
    }

    @media (min-width: 1024px) {
        .splide__slide .card {
            @apply shadow-none bg-transparent w-[var(--slide-width)];
        }

        
        .card_section {
            @apply transition-all duration-300 shadow-md bg-white;
        }

        .splide__slide.is-active {
            @apply z-20 relative m-0;
            
            
            .card {
                @apply w-[var(--slide-width-curr)] -ml-24 -mr-24 shadow-lg text-white;
                
                
                a:not(.button) {
                    @apply text-inherit;
                }
            }

            .card_section {
                @apply bg-primary p-6;
            }
        }
    }
}
