{% embed patternlab_namespace | default ~ 'components/sections/section.twig' with {
    "intro_class": 'text-center ' ~ (style | default == 'side' ? 'large-text-left' : ''),
    "section_heading": section_heading | default ? section_heading : "Statistics Module Heading",
    "section_description":  section_description | default,
  }
%}
  {% block section_content %}
    <div class="slick-wrap">
      <div class="grid-x grid-margin-x js-slick--mobile">
        {% for statistic in statistics %}
          <div class="cell medium-4 {% if style | default == 'side' %}large-12{% endif %}">
            {% include patternlab_namespace | default ~ 'components/informational/statistic.twig' with {
              text: statistic.text,
              value: statistic.value,
              link: statistic.link
            }%}
          </div>
        {% endfor %}
      </div>
      {% include patternlab_namespace | default ~ 'components/containers/carousel-nav.twig' with {
          inline: true
        } %}
    </div>
  {% endblock %}
{% endembed %}
