<h3>Unstyled List</h3>
<ul class="unstyled-list">
  <li>Basically a list</li>
  <li>With no bullets</li>
  <li>Lorem ipsum</li>
</ul>


<h3>Inline List</h3>
<ul class="inline-list">
  <li>Basically a list</li>
  <li>That displays items<br /> side by side</li>
  <li>Lorem ipsum</li>
</ul>

<ul class="inline-list inline-list--top">
  <li>Same inline list</li>
  <li>But vertically aligned<br /> to top</li>
  <li>Lorem ipsum</li>
</ul>

<ul class="inline-list inline-list--stacked">
  <li>Same inline list</li>
  <li>But stacks on mobile</li>
  <li>Lorem ipsum</li>
</ul>

<ul class="inline-list inline-list--divided">
  <li>Same inline list</li>
  <li>But with dividers</li>
  <li>Lorem ipsum</li>
</ul>

<ul class="inline-list inline-list--tight">
  <li>Same inline list</li>
  <li>But closer together</li>
  <li>Lorem ipsum</li>
</ul>

<ul class="inline-list inline-list--wide">
  <li>Same inline list</li>
  <li>But further apart</li>
  <li>Lorem ipsum</li>
</ul>
