.grid{

  &-margin-x{
    .cell{
      $column-spacing: (
        medium: (2, 3, 4),
        large: (2, 3, 4)
      );


      .cell{
        @each $breakpoint, $column-counts in $column-spacing {
          //$column-count: 2;
          @each $column-count in $column-counts {
            &[class*="#{$breakpoint}-#{12/$column-count}"]:nth-child(n+#{$column-count + 1}){
              @include breakpoint($breakpoint){
                margin-top: $spacer*4;
              }
            }
          }
        }
        $mobile-margin-spacer: 3*$spacer;
        &[class*=medium-]:not([class*=small-]){
          @include breakpoint(small only){
            &:not(:last-child){
              margin-bottom: $mobile-margin-spacer;
              &.l-content{
                margin-bottom: 5*$spacer;
              }
            }
          }
        }
        &[class*=large-12]{
          @include breakpoint(large){
            &:not(:last-child){
              margin-bottom: $spacer*4;
            }
          }
        }
        &[class*=large-]:not([class*=medium-]):not([class*=small-]){
          @include breakpoint(medium down){
            &:not(:last-child){
              margin-bottom: $mobile-margin-spacer;
            }
          }
        }


      }
      $mobile-margin-spacer: 3*$spacer;
      &[class*=medium-]:not([class*=small-]){
        @include breakpoint(small only){
          &:not(:last-child){
            margin-bottom: $mobile-margin-spacer;
            &.l-content{
              margin-bottom: 5*$spacer;
            }
          }
        }
      }
      &[class*=large-12]{
        @include breakpoint(large){
          &:not(:last-child){
            margin-bottom: $spacer*4;
          }
        }
      }
      &[class*=large-]:not([class*=medium-]):not([class*=small-]){
        @include breakpoint(medium down){
          &:not(:last-child){
            margin-bottom: $mobile-margin-spacer;
          }
        }
      }
    }
    // &.wide-mobile-spacing{
    //   .cell{
    //     &[class*=medium-]{
    //       @include breakpoint(small only){
    //         &:not(:last-child){
    //           margin-bottom: rem-calc(40);
    //         }
    //       }
    //     }
    //   }
    // }
    // &.tight-mobile-spacing{
    //   .cell{
    //     &[class*=medium-]{
    //       @include breakpoint(small only){
    //         &:not(:last-child){
    //           margin-bottom: rem-calc(15);
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
