.grid{

  &-margin-x{
    .cell{
      $mobile-margin-spacer: 3*$spacer;
      &[class*=medium-]:not([class*=small-]){
        @include breakpoint(small only){
          &:not(:last-child){
            margin-bottom: $mobile-margin-spacer;
          }
        }
      }
      &[class*=large-12]{
        @include breakpoint(large){
          &:not(:last-child){
            margin-bottom: $spacer*4;
          }
        }
      }
      &[class*=large-]:not([class*=medium-]):not([class*=small-]){
        @include breakpoint(medium down){
          &:not(:last-child){
            margin-bottom: $mobile-margin-spacer;
          }
        }
      }
    }
    // &.wide-mobile-spacing{
    //   .cell{
    //     &[class*=medium-]{
    //       @include breakpoint(small only){
    //         &:not(:last-child){
    //           margin-bottom: rem-calc(40);
    //         }
    //       }
    //     }
    //   }
    // }
    // &.tight-mobile-spacing{
    //   .cell{
    //     &[class*=medium-]{
    //       @include breakpoint(small only){
    //         &:not(:last-child){
    //           margin-bottom: rem-calc(15);
    //         }
    //       }
    //     }
    //   }
    // }
  }
}
