<div class="card card--horizontal">
  <div class="card-section px-4 py-4">
    <div class="grid-x grid-margin-x align-items-center gy-3">
      <div class="cell large-7">
        <h2>{{ heading }}</h2>
        <h3>{{ subheading }}</h3>
        {% if description is not empty %}
          <p class="mb-3">{{ description }}</p>
        {% endif %}
        {% if link | default %}
          {% include '@components/links/read-more/read-more.twig' with link %}
        {% endif %}
      </div>
      <div class="cell large-5">
        <div class="px-4 py-3 bg-gray-lightest text-small">
          {% include '@components/informational/listing/listing.twig' with {
          "listing_class": 'mb-0',
          "items": items
        } %}
        </div>
      </div>
    </div>
  </div>
</div>
