
  <form {% if action | default %}action="{{ action }}"{% endif %} {% if ajax | default %}class="js-ajax"{% endif %}>
    {% embed '@components/forms/form-group/form-group.twig' %}
      {% block form_content %}
        {% if keyword_filter | default %}
          <div class=" md:col-span-5">
            {% include '@components/forms/text/text.twig' with {
              value: queryParam | default,
              label: label | default("Keywords"),
              id: input_id | default("keywords"),
              placeholder: placeholder | default("Filter by keywords"),
              name: input_name | default('q')
            }
            %}
          </div>
        {% endif %}
        <div class=" md:col-span-5 lg:col-span-4 small-10">
          {% include '@components/forms/select/select.twig' with {
            label: category_label | default("Filter by Category"),
            input_class: 'w-full ' ~ input_class | default,
            id: "category",
            autocomplete: 'off',
            placeholder: category_placeholder | default("Select a Category"),
            name: 'category',
            value: category_selected | default,
            options: categories | default([
              {
                value: 1,
                label: 'Category 1'
              }
            ])
          } only
          %}
        </div>
        {% if ajax | default == false %}
          <div class=" md:col-span-2">
            <button class="button" type="submit">Search</button>
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}
  </form>
