// Spotlight
//
// This is the Spotlight component.
//
// Markup: spotlight.twig
//
// Style guide: Components.Spotlight

// Import site utilities.
@import '../../global/utils/init';

.spotlight {
  margin: 0 auto;
  padding: 1rem;

  @include breakpoint($bp-sm) {
    padding: 0 3rem;
  }
}

.spotlight__section-title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2rem;

  @include breakpoint($bp-xsm) {
    font-size: 3rem;
  }
}

.spotlight__group {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-xsm) {
    flex-direction: row;
  }
}

.spotlight__item {
  margin: 3rem 0 0;

  &:first-of-type {
    margin: 0;
  }

  @include breakpoint($bp-xsm) {
    margin: 0 0 0 1rem;
  }

  @include breakpoint($bp-sm) {
    margin: 0 0 0 2.5rem;
  }

  .spotlight__eyebrow {
    display: block;
    font-size: 0.75rem;
    margin-top: 2rem;
  }

  .spotlight__title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1.5rem;

    @include breakpoint($bp-xsm) {
      font-size: 2rem;
    }
  }

  .spotlight__subhead {
    font-size: 1.25rem;
    font-weight: normal;

    @include breakpoint($bp-xsm) {
      font-size: 1.5rem;
    }
  }

  .spotlight__link {
    display: block;
    margin-top: 1.5rem;
  }
}
