<div class="grid-x grid-margin-x">
  <div class="cell medium-3 small-10">
    {% include patternlab_namespace | default ~ 'components/forms/select.twig' with {
      label: "Filter by Category",
      input_class: 'w-100',
      id: "category",
      placeholder: "Select a Category",
      name: 'category',
      options: [
        {
          value: 1,
          label: 'Category 1'
        }
      ]
    } only
    %}
  </div>

</div>
