<h2>Font Family Utilities</h2>
<p>
  <span class="font-primary">Primary Font override</span><br />
  <span class="font-secondary">Secondary Font override</span>
</p>

<h2>Font Weight Utilities</h2>
<p>
  <span class="fw-normal d-block">Normal</span>
  <span class="font-bold d-block">Bold</span>
  <span class="fw-semibold d-block">Semibold</span>
</p>
<h2>Font size Utilities</h2>
<p>
  Defined in `font-size-em` in `utilites/_utilities.scss`
  <span class="text-smaller d-block">Smaller Text</span>
  <span class="text-small d-block">Small Text</span>
  <span class="text-base d-block">Base Text</span>
  <span class="lg:text d-block">Large Text</span>
  <span class="lg:textr d-block">Larger Text</span>
  <span class="xlg:text d-block">Xlarge Text</span>
</p>
