<div class="primary-tabs">
  <ul class="primary-tabs__items">
    <li class="primary-tabs__item"><a href="#" class="primary-tabs__link is-active">View</a></li>
    <li class="primary-tabs__item"><a href="#" class="primary-tabs__link">Edit</a></li>
    <li class="primary-tabs__item"><a href="#" class="primary-tabs__link">Delete</a></li>
    <li class="primary-tabs__item"><a href="#" class="primary-tabs__link">Devel</a></li>
  </ul>
</div>
