<section class="accordion__wrapper">
  {% block accordion_items %}
    {% for item in items %}
      {%
        include '@components/accordion/accordion-item.twig' with {
        "item": item,
      } only
      %}
    {% endfor %}
  {% endblock %}
</section>