<span class="d-inline-flex gap-1">
  <span class="icon-email icon icon--tiny"></span>
  Text with icon, vertically align top
</span>
<br />
<span class="d-inline-flex gap-1 align-middle">
  <span class="icon-email icon  icon--tiny"></span>
  Text with icon, vertically align middle
</span>
<br />
<h2 class="d-inline-flex gap-1 align-middle">
  <span class="icon-email icon"></span>
  Heading with icon
</h2>
