<section class="carousel__wrapper">
<ul class="carousel__list carousel__slick">
{% for item in list %}
  <li class="carousel-item">
    <div class="carousel-item__media">
      {%
        include '@demo_theme/media/media.twig' with {
          "image": item.image,
        } only
      %}
    </div>
    <div class="carousel-item__content">
      {%
        include '@demo_theme/heading/heading.twig' with {
          "title": item.title,
          "heading_level": 2,
          "classes": "carousel-item__title"
        } only
      %}
      {%
        include '@demo_theme/button/button.twig' with {
          "text": item.button.text,
          "url": item.button.url,
        } only
      %}
    </div>
  </li>
{% endfor %}
</ul>
</section>
