{% embed '@components/sections/section.twig' with {
    intro_class: "text-center",
    section_class: section_class | default,
    heading: heading | default,
    description: description | default,
  }
%}

  {% block section_content %}
      <div class="links">

        {% for link in links %}
          {% if loop.first or loop.index0 % 3 == 0 %}
            {% if loop.index0 % 3 == 0 and loop.first == false %}
              </div>
            {% endif %}
            <div class="grid-x">
          {% endif %}
              <div class="cell medium-4">

                {% if link | default is not empty %}
                  {%  set link = link | merge({

                    class: "h3"
                  }) %}

                  {% include '@components/links/read-more.twig' with link %}
                {% endif %}

              </div>
          {% if loop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
  {% endblock %}
{% endembed %}
