{% embed '@components/sections/section.twig' with {
    intro_class: 'text-center ' ~ (style | default == 'side' ? 'large-text-left' : ''),
    heading: heading | default,
    description:  description | default,
    button: button | default,
  }
%}
  {% block section_content %}

    <div class="grid-x grid-margin-x">
      {% for statistic in statistics %}
        <div class="cell medium-4 {% if style | default == 'side' %}large-12{% endif %}">
          {% include '@components/informational/statistic.twig' with {
            text: statistic.text,
            value: statistic.value,
            link: statistic.link
          }%}
        </div>
      {% endfor %}
    </div>

  {% endblock %}
{% endembed %}
