{% extends '@pages/wrapper.twig' %}

{% block top %}
  {% include "@components/containers/hero.twig" %}
{% endblock %}
{% block main %}
  {% embed '@components/sections/section.twig' with {
    section_class: 'section--tight'
  }%}
    {% block section_content %}
      <p>Click the buttons to test out the modal functionality</p>
      {% include "@components/containers/modal.twig" %}
    {% endblock %}
  {% endembed %}
{% endblock %}
