


@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

$additional-palette: ();

@mixin generateVariants($map, $color){
  $variants: map-get($map, 'variants');
  @each $key, $value in $variants {

    $default-color: map-get($map, 'default');
    $output: $value;
    @if (is-percentage($value)){
      $output: scale-color($default-color,$lightness: $output);
    }

    .color-#{$color}{
      color: $default-color;
    }

    .fill-#{$color}{
      path, polygon{
        fill: $default-color;
      }
    }


    .bg-solid-#{$color}{
      background-color: $default-color;
    }

    .bg-gradient-#{$color}{
      &:before{
        background: linear-gradient(to bottom, $white 0%, $default-color 100%);
      }
    }
    @if $output{
      $additional-palette: map-set($additional-palette, '#{$color}-#{$key}', $output) !global;
      .color-#{$color}-#{$key}{
        color: $output;
      }
      .bg-solid-#{$color}-#{$key}{
        background-color: $output;
      }

      .bg-gradient-#{$color}-#{$key}{
        &:before{
          background: linear-gradient(to bottom, $white 0%, rgba($output,1) 100%);
        }
      }
    }

    // .bg-gradient-#{$color}-#{$key}-flip{

    //   background: linear-gradient(to bottom,$output 0px, $white 800px);
    // }




  }
}


@include generateVariants($primary, 'primary');
@include generateVariants($secondary, 'secondary');
@include generateVariants($tertiary, 'tertiary');
//@include generateVariants($tertiary, 'accent');
@include generateVariants($gray, 'gray');



//@debug $additional-palette;

