$light-opacity: 0.5;
@each $palette, $map in $palettes {
  $gradient-color: map-get($map, 'default');

  @if (map-get($map,'gradient')){
    .bg-gradient{
      &-#{$palette}{
        &:before{
          background-color: $gradient-color;
        }
      }
      &-light-#{$palette}, &-#{$palette}{
        &:before{                    
          mask-image: linear-gradient(to top, black 0%, rgba(0,0,0,0) 100%);          
        }
        $variants: map-get($map, 'variants');
        @each $key, $value in $variants {
          &-#{$key}{
            &:before{
              background: linear-gradient(to bottom, $white 0%, $value 100%);
            }
          }
        }
        &:not(.bg-gradient--down){
          @include breakpoint(medium){
            &:before{
              mask-image: linear-gradient(to right, black 0%, rgba(0,0,0,0) 100%);
            }
          }
        }

        // &.bg-gradient--radial{
        //   &:before{
        //     background: linear-gradient(to bottom, $default-color 0%, rgba($default-color,0) 800px);
        //     @include breakpoint(medium){
        //       background: radial-gradient(ellipse at top left, $default-color 0, rgba($default-color,0) 80vw);
        //     }
        //     // @include breakpoint(medium){
        //     //   background: linear-gradient(to right, $default-color 0%, map-get($additional-palette,'#{$palette}-darker') 100%);
        //     // }

        //   }
        // }

      }
      &-light-#{$palette}{
        &:before{          
          background-color: rgba($gradient-color, $light-opacity);          
        }
        

      }


    }

  }

}


[class*=bg-gradient-]{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    //z-index: -1;
    top: 0;
    left: 0;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  &.bg-gradient--flip{
    &:before{
      transform: scaleX(-1);
    }
    &.bg-gradient--down{
      &:before{
        transform: scaleY(-1);
      }
    
    }
  }
  // &.bg-gradient--shorter{
  //   &:before{
  //     height: rem-calc(300);
  //   }
  // }
  // &.bg-gradient--short{
  //   &:before{
  //     height: rem-calc(600);
  //   }
  // }
  // &.bg-gradient--tall{
  //   &:before{
  //     height: rem-calc(500);
  //     @include breakpoint(large){
  //       height: rem-calc(800);
  //     }
  //   }
  // }
}
