$light-opacity: 0.05;
@each $palette, $map in $palettes {
  $gradient-color: map-get($map, 'default');
  $background-color: map-get($additional-palette,'#{$palette}-bright');
  @if ($palette == 'primary3'){
    $gradient-color: $tertiary-color;
  }
  @if ($palette == 'tertiary'){
    $background-color: map-get($map, 'default');
    $gradient-color: map-get($additional-palette,'#{$palette}-lighter');
  }
  @if (map-get($map,'gradient')){
    .bg-gradient{
      &-#{$palette}{
        background-color: $background-color;
        &.bg-gradient--light{
          background-color: rgba($background-color,$light-opacity);
        }
        &:before{
          background-color: $gradient-color;
          mask-image: linear-gradient(to bottom, black 0%, rgba(0,0,0,0) 100%);
          //background: linear-gradient(to bottom, $default-color 0%, rgba(map-get($additional-palette,'#{$palette}-bright'),0) 60%);
        }
        &:not(.bg-gradient--faded):not(.bg-gradient--down){
          @include breakpoint(medium){
            &:before{
              mask-image: linear-gradient(to right, black 0%, rgba(0,0,0,0) 100%);
            }
          }
        }

        // &.bg-gradient--radial{
        //   &:before{
        //     background: linear-gradient(to bottom, $default-color 0%, rgba($default-color,0) 800px);
        //     @include breakpoint(medium){
        //       background: radial-gradient(ellipse at top left, $default-color 0, rgba($default-color,0) 80vw);
        //     }
        //     // @include breakpoint(medium){
        //     //   background: linear-gradient(to right, $default-color 0%, map-get($additional-palette,'#{$palette}-darker') 100%);
        //     // }

        //   }
        // }

      }


    }

  }

}

.bg-gradient{
  &--flip{
    &:before{
      transform: scaleY(-1);
    }
    @include breakpoint(medium){
      &:not(.bg-gradient--down){
        &:before{
          transform: scaleX(-1);
        }
      }
    }
  }
  // &--light{
  //   &:before{
  //     opacity: $light-opacity;
  //   }
  // }
//   &--faded{
//     background: linear-gradient(to bottom, $white 0%, rgba($white,0) 100%);
//     // &.bg-pattern{
//     //   &:after{
//     //     opacity: 0.2;
//     //   }
//     // }

//     // &:before{
//     //   opacity: 0.2;
//     //   transform: scaleY(-1);
//     // }
//     // &.bg-gradient--flip{
//     //   &:before{
//     //     transform: scaleY(-1);
//     //   }
//     // }
//   }
// }
[class*=bg-gradient-]{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  // @include breakpoint(small only){
  //   &.has-backgroundImage{
  //     background-color: transparent;
  //   }
  // }
  // &.bg-gradient--flip{
  //   &:before{
  //     transform: scaleX(-1);
  //   }
  // }
  // &.bg-gradient--shorter{
  //   &:before{
  //     height: rem-calc(300);
  //   }
  // }
  // &.bg-gradient--short{
  //   &:before{
  //     height: rem-calc(600);
  //   }
  // }
  // &.bg-gradient--tall{
  //   &:before{
  //     height: rem-calc(500);
  //     @include breakpoint(medium){
  //       height: rem-calc(800);
  //     }
  //   }
  // }
}
