.inline-list{
  list-style-type: none;
  margin-left: 0;
  > li{
    display: inline-block;
    margin-left: 0;
    vertical-align: middle;

    &:not(:last-child){
      @include spacer(margin,right,2);
      //margin-right: rem-calc($spacer*2);
    }
  }
  &--top{
    > li{
      vertical-align: top;
    }
  }
  &--stacked{
    @include media-breakpoint-only(sm){
      > li{
        display: block;
        &:not(:last-child){
          margin-right: 0 !important;
          margin-bottom: rem-calc($spacer-mobile*2);
        }
      }
    }
  }
  &--divided{
    > li{
      &:not(:last-child){
        margin-right: rem-calc($spacer*2);
        &:after{
          content: "|";
          position: absolute;
          opacity: 0.5;
          margin-left: rem-calc($spacer);
        }
      }
    }
  }
  &--tight{
    > li{
      &:not(:last-child){
        margin-right: rem-calc($spacer/2);
      }
    }
  }
  &--wide{
    > li{
      &:not(:last-child){
        margin-right: rem-calc($spacer*3);
      }
    }
  }
}

.unstyled-list{
  margin-left: 0;
  list-style-type: none;
}
