@import '../variables/image-sizes.scss';

.no-shadow{
  box-shadow: none;
}

.shadow{
  box-shadow: $global-box-shadow;
}

.flip{
  transform: scaleX(-1);
}


[class*=bg-gradient-]{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &.bg-gradient--flip{
    &:before{
      transform: scaleY(-1);
    }
  }
  &.bg-gradient--shorter{
    &:before{
      height: rem-calc(300);
    }
  }
  &.bg-gradient--short{
    &:before{
      height: rem-calc(600);
    }
  }
  &.bg-gradient--tall{
    &:before{
      height: rem-calc(500);
      @include breakpoint(large){
        height: rem-calc(800);
      }
    }
  }
}


.overflow{
  &-hidden{
    overflow: hidden;
  }
}


.display{
  &-flex{
    display: flex;
  }
  &-inlineBlock{
    display: inline-block;
  }
}


.media-object{
  @include breakpoint(small only){
    &--stack{
      display: block;
      img{
        max-width: 100%;
      }
      .media-object-section:first-child{
        padding-right: 0;
        margin-bottom: $spacer-mobile*3;
      }
    }
  }
}


@each $size, $values in $image_sizes {
  .image-size--#{$size}{
    aspect-ratio: #{map-get($values, 'width') / map-get($values, 'height')};
  }
}


