

@mixin vertical-center(){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


@mixin horizontal-center(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin stretch(){
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

@mixin align-center(){
    display: flex;
    align-items: center;
}

@mixin center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin triangle($size, $color, $direction) {
  height: 0;
  width: 0;

  $width: nth($size, 1);
  $height: nth($size, length($size));

  $width: $width / 2;
  $height: if(length($size) > 1, $height, $height/2);

  @if $direction == up {
      border-bottom: $height solid $color;
      border-left: $width solid transparent;
      border-right: $width solid transparent;

  } @else if $direction == right {
      border-left: $height solid $color;
      border-bottom: $width solid transparent;
      border-top: $width solid transparent;

  } @else if $direction == down {
      border-top: $height solid $color;
      border-left: $width solid transparent;
      border-right: $width solid transparent;

  } @else if $direction == left {
      border-right: $height solid $color;
      border-bottom: $width solid transparent;
      border-top: $width solid transparent;
  }
}

@mixin size($size){
    width: rem-calc($size);
    height: rem-calc($size);
}


@mixin spacer($prop,$direction, $size ) {
    //#{$prop}: $size !important;
    @if (index((left, right, top, bottom),$direction)) {
      #{$prop}-#{$direction}: rem-calc($size*$spacer-mobile);
      @include breakpoint(medium) {
        #{$prop}-#{$direction}: rem-calc($size*$spacer);
      }
    }@else if (index((y,x),$direction)) {
      @if ($direction == x){
        #{$prop}-left: rem-calc($size*$spacer-mobile);
        #{$prop}-right: rem-calc($size*$spacer-mobile);
        @include breakpoint(medium) {
          #{$prop}-left: rem-calc($size*$spacer);
          #{$prop}-right: rem-calc($size*$spacer);
        }
      }@else{
        #{$prop}-top: rem-calc($size*$spacer-mobile);
        #{$prop}-bottom: rem-calc($size*$spacer-mobile);
        @include breakpoint(medium) {
          #{$prop}-top: rem-calc($size*$spacer);
          #{$prop}-bottom: rem-calc($size*$spacer);
        }
      }
    }@else{
      #{$prop}: rem-calc($size*$spacer-mobile);
      @include breakpoint(large) {
        #{$prop}: rem-calc($size*$spacer);
      }
    }

  }

  @mixin font-scale-mobile($font-size,$min: 0,$output-desktop: false){
    @if ($output-desktop) {
      font-size: rem-calc($font-size);
    }
    @include breakpoint(small only){
      $font-size-mobile: $font-size*$font-scale-mobile;
      @if ($min > $font-size-mobile){
        $font-size-mobile: $min;
      }
      font-size: rem-calc($font-size-mobile);
    }
  }

  .has-icon{
    display: inline-flex;
    .icon{
      vertical-align: middle;
      margin-right: rem-calc(7);
      flex: none;
    }
    &:not(.align-middle){
      align-items: flex-start;
      justify-content: flex-start;
      .icon{
        margin-top: rem-calc(2);
      }
    }
  }

  @mixin icon-circle(){
    background-color: $primary-color !important;
    width: rem-calc(30) !important;
    height: rem-calc(30) !important;
    color: $white;
    border-radius: 100% !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: rem-calc(3) !important;
    &:hover, &:focus{
      color: $white;
      background-color: $secondary-color;
    }

    svg{
      g, path{
        fill: $white;
      }
    }


    .text-white & {
      background-color: $white !important;
      svg{
        g, path{
          fill: $primary-color;
        }
      }
      [class*=icon-]{
        color: $primary-color;
      }
      &:hover, &:focus{
        background-color: $secondary-color;
      }
    }

    [class*=icon-]{
      position: absolute;
    }
    &.a2a_s_facebook{
      svg{
        margin-bottom: rem-calc(-8.25%);
        margin-left: rem-calc(-4%);
        width: 130%;
      }
    }
    .icon-facebook{
      font-size: 1.3em;
      position: absolute;
      //margin-top: rem-calc(-8%);
      margin-bottom: rem-calc(-8.25%);
      margin-right: rem-calc(-2%);
    }
  }
