.bg-pattern{
  position: relative;
  &:after{
    content: '';
    @include stretch();
    z-index: 1;
    opacity: 0.1;
    background-image: url('../images/white.png');
    background-size: auto min(120%, 1000px);
    background-position: top right;
    background-repeat: no-repeat;
  }
//   &:not(.text-white):not(.l-top):not(.bg-gradient--faded){
//     &:after{
//       opacity: 1;
// //      mix-blend-mode: soft-light;
//     }
//     &.bg-gradient--light{
//       &:after{
//         opacity: 0.45;
//       }
//     }
//   }
  // &:not(.bg-pattern--flip){
  //   &:after{
  //     left: 50%;
  //   }
  // }
  // &.bg-gradient--faded{
  //   &:after{
  //     background-image: url('../images/color.png') ;
  //     mix-blend-mode: normal;
  //     left: 0;
  //     width: 100%;
  //     background-position: center bottom;
  //     background-size: 100% auto;
  //     z-index: -1;
  //     opacity: 0.2;
  //   }
  // }
  // &--flip{
  //   &:after{
  //     transform: scaleX(-1);
  //   }
  // }
}
