
@if ($scroll-show){
  [data-scroll-show]{
    opacity: 0;
    transition: 0.25s opacity, 0.3s transform;
    transform: translateY(100px);
    // &[data-scroll-from="left"]{
    //   transform: translateX(-100px);
    // }
    // &[data-scroll-from="right"]{
    //   transform: translateX(100px);
    // }
    &.is-active{
     // pointer-events: all;
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
   }


}
