.text{
  &-smaller{
    font-size: rem-calc(14);
  }
  &-small{
    font-size: rem-calc(16);
  }
  &-white{
    color: $white;
    a{
      &:not(.button){
        color: inherit;
      }

    }
  }
}


.unstyled-blockquote{
  border: 0;
  padding: 0;
  padding-left: rem-calc(10);
  &:before{
    left: 0;
  }
}
